<a href="https://colab.research.google.com/github/human-ai2025/Elo-Merchant-Recommendation/blob/master/Feature%20Engineering/featureEngineeringMMElo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing the libraries

In [1]:
#Import Libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import gc
from contextlib import contextmanager
from pandas.core.common import SettingWithCopyWarning
import datetime
import time
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import mode
import pickle
import datetime

## Mounting Drive

In [2]:
#Mounting drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Set up the path

In [3]:
%cd /content/drive/MyDrive/data

/content/drive/MyDrive/data

### View Current Items in the folder

In [4]:
!ls

 augmented_test.csv
 augmented_test_try1.csv
 augmented_test_try1_model_imputation.csv
 augmented_train.csv
 augmented_train_try1.csv
 augmented_train_try1_model_imputation.csv
 clf_cat2.sav
 clf_cat3.sav
 clf_name.sav
'Data Dictionary.xlsx'
 Data_Dictionary.xlsx
 file_name.csv
 hist_authorized_flag_enc.npy
 hist_category_1_enc.npy
 hist_category_3_enc.npy
 historical_transactions.csv
 historical_transactions_df.pkl
 hist_trans_preprocessed.csv
 knn_sal_12.sav
 knn_sal_3.sav
 knn_sal_6.sav
 LR_cat_2.sav
 mer_authorized_flag_enc.npy
 mer_category_1_enc.npy
 mer_category_3_enc.npy
 merchant_category_1_enc.npy
 merchant_category_4_enc.npy
 merchant_most_recent_purchases_range_enc.npy
 merchant_most_recent_sales_range_enc.npy
 merchants.csv
 merchants_preprocessed.csv
 merged_transactions_with_merchants.csv
 new_merchant_authorized_flag_enc.npy
 new_merchant_category_1_enc.npy
 new_merchant_df.pkl
 newMerchants_trans_preprocessed.csv
 new_merchant_transactions.csv
 sample_submission.csv
 test.csv
 train.csv
 transactions_raw_merged.csv
 transactions_refined_1_merged_WON.csv

## Helper Functions

### Timer

In [6]:
def reduce_mem_usage(df, verbose=True):
  """ Helps to reduce memory usage """
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

    return df

In [7]:
def dateTimeFeatures(df):
  """

    To retuurn a dataframe with new date time features 
    ---------------------------------------------------------
    Args:
      df:- The dataframe on which we want to do 
    ---------------------------------------------------------
    Returns:
    A dataframe with date time features 
    ---------------------------------------------------------
    To DO:
      1. Add holidays 

  """

  # basic date time features
  df['month'] = df.purchase_date.dt.month
  df['day'] = df.purchase_date.dt.day
  df['hour'] = df.purchase_date.dt.hour
  df['weekofyear'] = df.purchase_date.dt.weekofyear
  df['weekend'] = (df.purchase_date.dt.weekday >= 5).astype(int)
  df['weekday'] = df.purchase_date.dt.weekday
  #difference in months from today
  df['monthDiff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days) // 30

  return df

In [8]:
def aggregations(df):
  """
    Find the group aggregations 

  """
  
  df = reduce_mem_usage(df)

  #define a function for mode 
  def mode(series):
      """Most common element in a series"""
      tdmode = series.mode()
      if len(tdmode) == 0:
          return np.nan
      else:
          return tdmode[0]

  #define a function for peroid
  def period(series):
      """Period of a series (max-min)"""
      return series.max() - series.min()

  #price is the purchace amount by the number of installments
  df['price'] = df['purchase_amount']/df['installments']

  # find the date time features
  df = dateTimeFeatures(df)

  aggs = {}

  #getting the nunique for the following ID based features  
  cols = ['city_id', 'state_id', 'merchant_category_id', 'subsector_id', 'merchant_id']
  colsMer = ['mer_city_id', 'mer_state_id', 'mer_merchant_category_id', 'mer_subsector_id','mer_merchant_group_id']
  
  for col in cols:
    aggs[col] = ['nunique']
  for col in colsMer:
    aggs[col] = ['nunique']


  #2. categorical  variables 
  aggs['authorized_flag'] = ['sum']
  aggs['category_1'] = ['sum', 'mean', mode]
  aggs['category_2'] = ['sum', 'mean', mode]
  aggs['category_3'] = ['sum', 'mean', mode]
  aggs['mer_category_1'] = ['sum', 'mean', mode]
  aggs['mer_category_2'] = ['sum', 'mean', mode]
  aggs['mer_category_4'] = ['sum', 'mean', mode]
  aggs['mer_most_recent_purchases_range'] = ['sum', 'mean', mode]
  aggs['mer_most_recent_sales_range'] = ['sum', 'mean', mode]

  #3. Continues variables
  aggs['price'] = [ 'max', 'min']
  aggs['mer_avg_sales_lag3'] = ['mean', 'max', 'min', 'var']
  aggs['mer_avg_purchases_lag3'] = ['mean', 'max', 'min', 'var']
  aggs['mer_active_months_lag3'] = ['mean', 'max', 'min', 'var']
  aggs['mer_avg_sales_lag6'] = ['mean', 'max', 'min', 'var']
  aggs['mer_avg_purchases_lag6'] = ['mean', 'max', 'min', 'var']
  aggs['mer_active_months_lag6'] = ['mean', 'max', 'min', 'var']
  aggs['mer_avg_sales_lag12'] = ['mean', 'max', 'min', 'var']
  aggs['mer_avg_purchases_lag12'] = ['mean', 'max', 'min', 'var']
  aggs['mer_active_months_lag12'] = ['mean', 'max', 'min', 'var']
  aggs['mer_numerical_1'] = ['mean', 'max', 'min', 'var']
  aggs['mer_numerical_2'] = ['mean', 'max', 'min', 'var']

  #4. Date Time 
  aggs['month'] = ['sum','mean', 'nunique','min','max',period]
  aggs['day'] = ['sum','mean', 'nunique','min','max',period]
  aggs['hour'] = ['sum','mean', 'nunique','min','max',period]
  aggs['weekofyear'] = ['sum','mean', 'nunique','min','max',period]
  aggs['weekend'] = ['sum','mean', 'nunique','max', 'min',period]
  aggs['weekday'] = ['sum','mean', 'nunique','max', 'min',period]
  aggs['month_lag'] = ['mean', 'min', 'max', 'var', 'skew',period]

  df = df.reset_index().groupby('card_id').agg(aggs)
  print('[INFO]  DONE ...')
  
  return df

In [9]:
def nullValues(df):
  """ Find the columns with null values """
  columns_with_na = [var for var in df.columns if df[var].isnull().mean()  > 0]
  #lets find out the percentage of observations missing per variable

  #calculate the percentage of missing 
  data_na = df[columns_with_na].isnull().mean()

  #transform the array to dataframe 
  data_na = pd.DataFrame(data_na.reset_index())

  #add names to the dataframe 
  data_na.columns = ['col','percentage_na']

  #oreder the dataframe acc to percentage 
  data_na.sort_values(by = 'percentage_na',ascending = False, inplace = True)

  #show
  data_na
  return data_na

## Merge and appply

In [10]:
histDf = pd.read_csv("hist_trans_preprocessed.csv",parse_dates=['purchase_date']) 

newdf = pd.read_csv("newMerchants_trans_preprocessed.csv",parse_dates=['purchase_date']) 

merchants = pd.read_csv("merchants_preprocessed.csv") 
merchants.columns = 'mer_' + merchants.columns.values
merchants.rename(columns = {'mer_merchant_id':'merchant_id'}, inplace = True) 

# Merge transactions with merchants data
histDf = pd.merge(histDf, merchants, on='merchant_id')
newdf = pd.merge(newdf, merchants, on='merchant_id')

# Clean up
del merchants
gc.collect()

histDf = aggregations(histDf)
histDf.columns = ["_".join(col) for col in histDf.columns.ravel()]
newdf = aggregations(newdf)
newdf.columns = ["_".join(col) for col in newdf.columns.ravel()]

Memory usage after optimization is: 2620.48 MB
Decreased by 68.4%
[INFO]  DONE ...
Memory usage after optimization is: 167.10 MB
Decreased by 69.1%
[INFO]  DONE ...

In [11]:
nullValues(histDf)

              col  percentage_na
0  month_lag_skew        0.00019

In [12]:
nullValues(newdf)

                            col  percentage_na
12               month_lag_skew       0.273600
0        mer_avg_sales_lag3_var       0.145176
1    mer_avg_purchases_lag3_var       0.145176
2    mer_active_months_lag3_var       0.145176
3        mer_avg_sales_lag6_var       0.145176
4    mer_avg_purchases_lag6_var       0.145176
5    mer_active_months_lag6_var       0.145176
6       mer_avg_sales_lag12_var       0.145176
7   mer_avg_purchases_lag12_var       0.145176
8   mer_active_months_lag12_var       0.145176
9           mer_numerical_1_var       0.145176
10          mer_numerical_2_var       0.145176
11                month_lag_var       0.145176

In [13]:
histDf

                 city_id_nunique  ...  month_lag_period
card_id                           ...
C_ID_00007093c1                4  ...                12
C_ID_0001238066               18  ...                 5
C_ID_0001506ef0                3  ...                13
C_ID_0001793786               10  ...                 9
C_ID_000183fdda                9  ...                 6
...                          ...  ...               ...
C_ID_ffff1d9928                3  ...                 3
C_ID_ffff579d3a                7  ...                 6
C_ID_ffff756266                2  ...                 9
C_ID_ffff828181               11  ...                13
C_ID_fffffd5772                4  ...                 6

[325540 rows x 123 columns]

In [14]:
newdf

                 city_id_nunique  ...  month_lag_period
card_id                           ...
C_ID_00007093c1                2  ...                 0
C_ID_0001238066                8  ...                 1
C_ID_0001506ef0                1  ...                 0
C_ID_0001793786                7  ...                 1
C_ID_000183fdda                2  ...                 1
...                          ...  ...               ...
C_ID_ffff1d9928                2  ...                 1
C_ID_ffff579d3a                1  ...                 0
C_ID_ffff756266                1  ...                 0
C_ID_ffff828181                6  ...                 1
C_ID_fffffd5772                1  ...                 0

[289057 rows x 123 columns]