<a href="https://colab.research.google.com/github/human-ai2025/Elo-Merchant-Recommendation/blob/master/Different_feature_joining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libraries

In [ ]:
#Import Libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import gc
from contextlib import contextmanager
from pandas.core.common import SettingWithCopyWarning
import datetime
import time
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import mode

### Mount the drive

In [ ]:
#Mounting drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Setup the current path

In [ ]:
!ls

drive  sample_data

In [ ]:
#Setting up worksapce directory 
%cd /content/drive/MyDrive/data

/content/drive/MyDrive/data

In [ ]:
!ls

 augmented_test.csv			  new_merchant_df.pkl
 augmented_train.csv			  new_merchant_transactions.csv
'Data Dictionary.xlsx'			  sample_submission.csv
 Data_Dictionary.xlsx			  test.csv
 historical_transactions.csv		  train.csv
 historical_transactions_df.pkl		  transactions_raw_merged.csv
 merchants.csv				  transactions_refined_1_merged_WON.csv
 merged_transactions_with_merchants.csv

## Timer

In [ ]:
#refer:-https://www.youtube.com/watch?v=vOMtQ4ocMGI
@contextmanager
def timer(title):
    """ used to calculate time for each function"""
    t0 = time.time()
    yield
    print("{} - done in {:.000f}s".format(title, time.time() - t0))

## Memory Reduction

In [ ]:
#https://www.kaggle.com/fabiendaniel/elo-world
#Function to load data into pandas and reduce memory usage

def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    #loop for alll the columns in the dataframe 
    for col in df.columns:
        #get the datatype of the column
        col_type = df[col].dtypes
        #if the data type is numeric then only start changing the datatype
        #as it isnt much helpful for other data types 
        if col_type in numerics:
            #stores the min value of the column 
            c_min = df[col].min()
            #stores the maximum value of the column
            c_max = df[col].max()
            #for int type numerics
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            #for float type numerics 
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

## One hot encoder

In [ ]:
#Refer:-https://stackoverflow.com/questions/36631163/what-are-the-pros-and-cons-between-get-dummies-pandas-and-onehotencoder-sciki
def one_hot_encoder(df, nan_as_category=True):
    """used to create the one hot encoding of the categorical variables """
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    print("The columns on which one hot encoding is performed is ",categorical_columns)
    df = pd.get_dummies(df, columns=categorical_columns, dummy_na=nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

## FE on Train Test

In [ ]:
def train_test(num_rows=None):

    # load csv
    train_df = pd.read_csv('/content/drive/MyDrive/data/train.csv', index_col=['card_id'], nrows=num_rows)
    test_df = pd.read_csv('/content/drive/MyDrive/data/test.csv', index_col=['card_id'], nrows=num_rows)

    print("Train samples: {}, test samples: {}".format(len(train_df), len(test_df)))
    OUTLIER_THRESHOLD = 30
    # Create an outliers column set to 1 for
    train_df['outliers'] = np.where(train_df['target'] < OUTLIER_THRESHOLD, 1, 0)

    # set target as nan
    test_df['target'] = np.nan

    # merge
    df = train_df.append(test_df)

    del train_df, test_df
    gc.collect()

    # to datetime
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])

    # datetime features
    df['quarter'] = df['first_active_month'].dt.quarter
    df['elapsed_time'] = (datetime.datetime.today() - df['first_active_month']).dt.days
    df['quarter_first_active_month'] = df['first_active_month'].dt.quarter
    df['first_active_month_diff_from_today'] = (datetime.datetime.today() - df['first_active_month']).dt.days


    # one hot encoding
    df, cols = one_hot_encoder(df, nan_as_category=False)

    for col in ['feature_1', 'feature_2', 'feature_3']:
        order_label = df.groupby(col)['outliers'].mean()
        df[col] = df[col].map(order_label)

    # Some basic statistics transformations over the feature_i columns
    df['feature_sum'] = df['feature_1'] + df['feature_2'] + df['feature_3']
    df['feature_mean'] = df['feature_sum'] / 3
    df['feature_max'] = df[['feature_1', 'feature_2', 'feature_3']].max(axis=1)
    df['feature_min'] = df[['feature_1', 'feature_2', 'feature_3']].min(axis=1)
    df['feature_std'] = df[['feature_1', 'feature_2', 'feature_3']].std(axis=1)

    return df

## Imputations on transactions data

In [ ]:
def transactions_imputations(df):
    """
    Data preprocessing consists of 
    1. Handling missing values 
    2. Mapping of categorical columns
    """

    # fillna
    df['category_2'].fillna(6, inplace=True)
    df['category_3'].fillna(3, inplace=True)
    df['merchant_id'].fillna('M_ID_00a6ca8a8a', inplace=True)
    df['installments'].replace(-1, np.nan, inplace=True)
    df['installments'].replace(999, np.nan, inplace=True)
    df['installments'].fillna(df['installments'].mode()[0], inplace=True)



    # mapping categorical to numerical 
    df['authorized_flag'] = df['authorized_flag'].map({'Y': 1, 'N': 0}).astype(int)
    df['category_1'] = df['category_1'].map({'Y': 1, 'N': 0}).astype(int)
    df['category_3'] = df['category_3'].map({'A': 0, 'B': 1,'C': 2, 3:3}).astype(int)
    df['category_2'] = df['category_2'].map({1.0 : 1, 2.0 : 2, 3.0 : 3,4.0 : 4, 5.0 : 5, 6 : 6}).astype(int)
    #removing purchase amount outliner    
    df['purchase_amount'] = df['purchase_amount'].apply(lambda x: min(x, 0.8))
    df['price'] = df['purchase_amount'] / (df['installments'] + 0.001) #some epsilone for 0  installments 

    # reduce memory usage
    #df = reduce_mem_usage(df)

    return df

## Imputations on Merchant Data

In [ ]:
def merchant_imputations(df):
    """
    Data preprocessing consists of 
    1. Handling missing values 
    2. Mapping of categorical columns
    3. Handling INF values 
    """


    #drop duplicate merchant id
    df.drop_duplicates(subset=['merchant_id'], keep='last')

    df['category_1'] = df['category_1'].fillna(2)
    df['category_1'] = df['category_1'].map({'Y': 0, 'N': 1,2:2}).astype(int)

    #for most_recent_sales_range_merchants_t_merchants_t and most_recent_purchases_range_merchants_t_merchants_t
    #it has A,B,C,D,E and null values 
    df['most_recent_sales_range'] = df['most_recent_sales_range'].fillna(5)
    df['most_recent_purchases_range'] = df['most_recent_purchases_range'].fillna(5)
    df['most_recent_sales_range'] = df['most_recent_sales_range'].map({'A': 0, 'B': 1,'C': 2, 'D': 3,'E' : 4, 5 : 5}).astype(int)
    df['most_recent_purchases_range'] = df['most_recent_purchases_range'].map({'A': 0, 'B': 1,'C': 2, 'D': 3,'E' : 4, 5 : 5}).astype(int)
    

    #for category_4_merchants_t_merchants_t
    #it has Y,N and null values 
    df['category_4'] = df['category_4'].fillna(2)
    df['category_4'] = df['category_4'].map({'Y': 0, 'N': 1, 2 : 2}).astype(int)

    df['category_2'] = df['category_2'].fillna(6)
    df['category_2'] = df['category_2'].map({1.0 : 1, 2.0 : 2, 3.0 : 3,4.0 : 4, 5.0 : 5, 6 : 6}).astype(int)

    #for missing id we will use -1111 as filling value 
    #find the number of missing values 
    for col in df[['merchant_group_id','state_id',
                            'merchant_category_id','subsector_id','city_id']]:
                            df[col] = df[col].fillna(-1111)

    #imputing the inf values with max 
    features_inf = ["avg_purchases_lag3","avg_purchases_lag6","avg_purchases_lag12"]
    for col in features_inf:
        df.loc[df[col]==np.inf,col] = max(df.loc[df[col]!=np.inf,col])

    df.columns = [col+"_merchants_t" if col!="merchant_id" else col for col in df.columns]

    # reduce memory usage
    #df = reduce_mem_usage(df)

    return df

## FE and Grouping on card id

In [ ]:
def group_on_card_id(df):
    """
    FUNCTION:
    To group the data on card id  

    NOTE:
    This is for without merchant data 

    ARGS:
    df is the data frame on which grouping needs to be performed 

    RETURNS:
    returns the data frame after grouping 
    
    """

    #Some feature engineering on date and time  
    df['purchase_date'] = pd.to_datetime(df['purchase_date'])
    df['month'] = df['purchase_date'].dt.month
    df['day'] = df['purchase_date'].dt.day
    df['hour'] = df['purchase_date'].dt.hour
    df['weekofyear'] = df['purchase_date'].dt.weekofyear
    df['weekday'] = df['purchase_date'].dt.weekday
    df['weekend'] = (df['purchase_date'].dt.weekday >= 5).astype(int)
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']


    mode = lambda x: x.value_counts().index[0]

    agg_fun = {
        
    "authorized_flag": ['sum', 'mean',mode],
    'category_1' : ['sum', 'mean',mode],
    'category_2' :['sum', 'mean',mode],
    'category_3' :['sum', 'mean',mode],


    'city_id' : ['nunique',mode],
    'state_id' : ['nunique',mode],
    'subsector_id' : ['nunique',mode],
    'merchant_category_id' : ['nunique',mode],
    'merchant_id': ['nunique',mode],


    'month_lag' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'installments' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'purchase_amount' : ['sum', 'mean', 'min', 'max', 'std','var'],


    'weekend': ['nunique', 'mean', 'min', 'max'],
    'weekday' : ['nunique', 'mean', 'min', 'max'],
    'hour': ['nunique', 'mean', 'min', 'max'],
    'weekofyear': ['nunique', 'mean', 'min', 'max'],
    'day': ['nunique', 'mean', 'min', 'max'],
    #Refer:-https://numpy.org/doc/stable/reference/generated/numpy.ptp.html
    'purchase_date' : [np.ptp, 'min', 'max'],
    'month' : ['sum', 'mean', 'nunique']
    }

    df = df.groupby("card_id",as_index=False).agg(agg_fun)
    print(df.card_id)

    # reduce memory usage
    df = reduce_mem_usage(df)

    return df

In [ ]:
def group_on_card_id_withMer1(df):
    """
    FUNCTION:
    To group the data on card id  

    ARGS:
    df is the data frame on which grouping needs to be performed 

    RETURNS:
    returns the data frame after grouping 
    
    """

    #Some feature engineering on date and time  
    df['purchase_date'] = pd.to_datetime(df['purchase_date'])
    df['month'] = df['purchase_date'].dt.month
    df['day'] = df['purchase_date'].dt.day
    df['hour'] = df['purchase_date'].dt.hour
    df['weekofyear'] = df['purchase_date'].dt.weekofyear
    df['weekday'] = df['purchase_date'].dt.weekday
    df['weekend'] = (df['purchase_date'].dt.weekday >= 5).astype(int)
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']


      
    def mode(series):
        """Most common element in a series"""
        tmode = series.mode()
        if len(tmode) == 0:
            return np.nan
        else:
            return tmode[0]

    agg_fun = {
        
    "authorized_flag": ['sum', 'mean',mode],
    'category_1' : ['sum', 'mean',mode],
    'category_2' :['sum', 'mean',mode],
    'category_3' :['sum', 'mean',mode],
    'category_1_merchants_t' :['sum', 'mean',mode],
    'most_recent_sales_range_merchants_t' :['sum', 'mean',mode],
    'category_4_merchants_t' :['sum', 'mean',mode],
    'most_recent_purchases_range_merchants_t' :['sum', 'mean',mode],
    'category_2_merchants_t' :['sum', 'mean',mode],


    'city_id' : ['nunique',mode],
    'state_id' : ['nunique',mode],
    'subsector_id' : ['nunique',mode],
    'merchant_category_id' : ['nunique',mode],
    'merchant_id': ['nunique',mode],
    'merchant_group_id_merchants_t':['nunique',mode],
    'state_id_merchants_t':['nunique',mode],
    'merchant_category_id_merchants_t':['nunique',mode],
    'subsector_id_merchants_t':['nunique',mode],
    'city_id_merchants_t':['nunique',mode],


    'month_lag' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'installments' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'purchase_amount' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'numerical_2_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_sales_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_purchases_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'active_months_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_sales_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_purchases_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_sales_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_purchases_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'numerical_1_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],

    'active_months_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'active_months_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'active_months_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],


    'weekend': ['nunique', 'mean', 'min', 'max'],
    'weekday' : ['nunique', 'mean', 'min', 'max'],
    'hour': ['nunique', 'mean', 'min', 'max'],
    'weekofyear': ['nunique', 'mean', 'min', 'max'],
    'day': ['nunique', 'mean', 'min', 'max'],
    #Refer:-https://numpy.org/doc/stable/reference/generated/numpy.ptp.html
    'purchase_date' : [np.ptp, 'min', 'max'],
    'month' : ['sum', 'mean', 'nunique']
    }

    df = df.groupby("card_id",as_index=False).agg(agg_fun)
    print(df.card_id)

    # reduce memory usage
    df = reduce_mem_usage(df)

    return df

## Generating the aurgumentated dataset

In [ ]:
def generate_augmented_train_test(debug=False):
    """ 
    Generate train and test augmented datasets. 
    STEPS:-
    1. Load Historical Transactions
    2. Impute Historical Transactions (clean)
    3. Load New Merchant Transactions  
    4. Impute New Merchant Transactons (clean)
    5. Load merchant data 
    6. Impute the merchant data(clean)
    7. merge the historical with merchants (left)
    8. merge the new merchants with merchants (left)
    9. Grouped On card id(group_on_card_id_withMer1)



    DOCUMENTATIONS 
    NUM_ROWS = 1000
    UNIQUE CARD ID

    JOIN:- INNER
    BEFORE 76,5
    AFTER 0,0

    JOIN:- LEFT
    BEFORE 76,5
    AFTER 76,5

    JOIN:- OUTER
    BEFORE 76,5
    AFTER 76,5
    CHOOSE LEFT DUE TO LESS NAN VALUES 
    """
    num_rows = 1000 if debug else None
    with timer("1ST HALF"):

        # load csv
        print("[INFO] LOADING NEW MERCHANT TRANSACTIONS AND HISTORICAL TRANSACTIONS ....")
        new_merchant_df = pd.read_csv('/content/drive/MyDrive/data/new_merchant_transactions.csv', nrows=num_rows)
        historical_transactions_df = pd.read_csv('/content/drive/MyDrive/data/historical_transactions.csv', nrows=num_rows)
        print("[INFO] MERGING THE HIST TRANSACTIONS DATA WITH MERCHANTS  ....")

        #Do the imputation 
        print("[INFO] DOING THE TRANSACTIONS IMPUTATIONS ...")
        new_merchant_df = transactions_imputations(new_merchant_df)
        historical_transactions_df = transactions_imputations(historical_transactions_df)
        print("[INFO] DATA CLEANING DONE ...")

        #unique values of column of card id 
        print("[INFO] THE UNIQUE VALUES OF CARD ID ...")
        print("FOR NEW MERCHANT ",new_merchant_df.card_id.nunique())
        print("FOR HISTORICAL TRANSACTIONS ",historical_transactions_df.card_id.nunique())

        #load csv 
        print("[INFO] LOADING MERCHANTS ...")
        merchant_df = pd.read_csv('/content/drive/MyDrive/data/merchants.csv', nrows=num_rows)

        #do imputations 
        print("[INFO] DOING MERCHANT DATA IMPUTATIONS ...")
        merchant_df = merchant_imputations(merchant_df)


        #Merge the data frames 
        print("[INFO] MERGING THE DATA FRAMES ...")
        historical_transactions_df = pd.merge(historical_transactions_df, merchant_df, on='merchant_id', how = 'left')
        new_merchant_df = pd.merge(new_merchant_df, merchant_df, on='merchant_id',how = 'left')

        #DEL merchant_df
        del merchant_df

        #printing the data frames 
        print("[INFO] THE MODIFIED HISTORICAL TRANSACTIONS ...")
        print(historical_transactions_df.columns)
        print("[INFO] THE MOFIFIED NEW MERCHANTS TRANSACTIONS ...")
        print(new_merchant_df.columns)


        print("[INFO] THE UNIQUE VALUES OF CARD ID ...")
        #unique values of column of card id 
        print("FOR NEW MERCHANT ",new_merchant_df.card_id.nunique())
        print("FOR HISTORICAL TRANSACTIONS ",historical_transactions_df.card_id.nunique())


        #Group on card id
        print("[INFO] GROUPING ON CARD ID ...")
        new_merchant_df = group_on_card_id_withMer1(new_merchant_df)
        historical_transactions_df = group_on_card_id_withMer1(historical_transactions_df)

        #printing the data frames 
        print("[INFO] THE MODIFIED HISTORICAL TRANSACTIONS ...")
        print(historical_transactions_df.columns)
        print("[INFO] THE MOFIFIED NEW MERCHANTS TRANSACTIONS ...")
        print(new_merchant_df.columns)


        print("[INFO] THE UNIQUE VALUES OF CARD ID ...")
        #unique values of column of card id 
        print("FOR NEW MERCHANT ",new_merchant_df.card_id.nunique())
        print("FOR HISTORICAL TRANSACTIONS ",historical_transactions_df.card_id.nunique())

        return historical_transactions_df,new_merchant_df

## Main Method

In [ ]:
if __name__ == "__main__":
  historical_transactions_df,new_merchant_df = generate_augmented_train_test()

[INFO] LOADING NEW MERCHANT TRANSACTIONS AND HISTORICAL TRANSACTIONS ....
[INFO] MERGING THE HIST TRANSACTIONS DATA WITH MERCHANTS  ....
[INFO] DOING THE TRANSACTIONS IMPUTATIONS ...
[INFO] DATA CLEANING DONE ...
[INFO] THE UNIQUE VALUES OF CARD ID ...
FOR NEW MERCHANT  290001
FOR HISTORICAL TRANSACTIONS  325540
[INFO] LOADING MERCHANTS ...
[INFO] DOING MERCHANT DATA IMPUTATIONS ...
[INFO] MERGING THE DATA FRAMES ...
[INFO] THE MODIFIED HISTORICAL TRANSACTIONS ...
Index(['authorized_flag', 'card_id', 'city_id', 'category_1', 'installments',
       'category_3', 'merchant_category_id', 'merchant_id', 'month_lag',
       'purchase_amount', 'purchase_date', 'category_2', 'state_id',
       'subsector_id', 'price', 'merchant_group_id_merchants_t',
       'merchant_category_id_merchants_t', 'subsector_id_merchants_t',
       'numerical_1_merchants_t', 'numerical_2_merchants_t',
       'category_1_merchants_t', 'most_recent_sales_range_merchants_t',
       'most_recent_purchases_range_merchants_t', 'avg_sales_lag3_merchants_t',
       'avg_purchases_lag3_merchants_t', 'active_months_lag3_merchants_t',
       'avg_sales_lag6_merchants_t', 'avg_purchases_lag6_merchants_t',
       'active_months_lag6_merchants_t', 'avg_sales_lag12_merchants_t',
       'avg_purchases_lag12_merchants_t', 'active_months_lag12_merchants_t',
       'category_4_merchants_t', 'city_id_merchants_t', 'state_id_merchants_t',
       'category_2_merchants_t'],
      dtype='object')
[INFO] THE MOFIFIED NEW MERCHANTS TRANSACTIONS ...
Index(['authorized_flag', 'card_id', 'city_id', 'category_1', 'installments',
       'category_3', 'merchant_category_id', 'merchant_id', 'month_lag',
       'purchase_amount', 'purchase_date', 'category_2', 'state_id',
       'subsector_id', 'price', 'merchant_group_id_merchants_t',
       'merchant_category_id_merchants_t', 'subsector_id_merchants_t',
       'numerical_1_merchants_t', 'numerical_2_merchants_t',
       'category_1_merchants_t', 'most_recent_sales_range_merchants_t',
       'most_recent_purchases_range_merchants_t', 'avg_sales_lag3_merchants_t',
       'avg_purchases_lag3_merchants_t', 'active_months_lag3_merchants_t',
       'avg_sales_lag6_merchants_t', 'avg_purchases_lag6_merchants_t',
       'active_months_lag6_merchants_t', 'avg_sales_lag12_merchants_t',
       'avg_purchases_lag12_merchants_t', 'active_months_lag12_merchants_t',
       'category_4_merchants_t', 'city_id_merchants_t', 'state_id_merchants_t',
       'category_2_merchants_t'],
      dtype='object')
[INFO] THE UNIQUE VALUES OF CARD ID ...
FOR NEW MERCHANT  290001
FOR HISTORICAL TRANSACTIONS  325540
[INFO] GROUPING ON CARD ID ...
0         C_ID_00007093c1
1         C_ID_0001238066
2         C_ID_0001506ef0
3         C_ID_0001793786
4         C_ID_000183fdda
               ...
289996    C_ID_ffff1d9928
289997    C_ID_ffff579d3a
289998    C_ID_ffff756266
289999    C_ID_ffff828181
290000    C_ID_fffffd5772
Name: card_id, Length: 290001, dtype: object
Mem. usage decreased to 93.76 Mb (73.3% reduction)
0         C_ID_00007093c1
1         C_ID_0001238066
2         C_ID_0001506ef0
3         C_ID_0001793786
4         C_ID_000183fdda
               ...
325535    C_ID_ffff1d9928
325536    C_ID_ffff579d3a
325537    C_ID_ffff756266
325538    C_ID_ffff828181
325539    C_ID_fffffd5772
Name: card_id, Length: 325540, dtype: object
Mem. usage decreased to 110.83 Mb (71.9% reduction)
[INFO] THE MODIFIED HISTORICAL TRANSACTIONS ...
MultiIndex([(        'card_id',        ''),
            ('authorized_flag',     'sum'),
            ('authorized_flag',    'mean'),
            ('authorized_flag',    'mode'),
            (     'category_1',     'sum'),
            (     'category_1',    'mean'),
            (     'category_1',    'mode'),
            (     'category_2',     'sum'),
            (     'category_2',    'mean'),
            (     'category_2',    'mode'),
            ...
            (            'day', 'nunique'),
            (            'day',    'mean'),
            (            'day',     'min'),
            (            'day',     'max'),
            (  'purchase_date',     'ptp'),
            (  'purchase_date',     'min'),
            (  'purchase_date',     'max'),
            (          'month',     'sum'),
            (          'month',    'mean'),
            (          'month', 'nunique')],
           length=158)
[INFO] THE MOFIFIED NEW MERCHANTS TRANSACTIONS ...
MultiIndex([(        'card_id',        ''),
            ('authorized_flag',     'sum'),
            ('authorized_flag',    'mean'),
            ('authorized_flag',    'mode'),
            (     'category_1',     'sum'),
            (     'category_1',    'mean'),
            (     'category_1',    'mode'),
            (     'category_2',     'sum'),
            (     'category_2',    'mean'),
            (     'category_2',    'mode'),
            ...
            (            'day', 'nunique'),
            (            'day',    'mean'),
            (            'day',     'min'),
            (            'day',     'max'),
            (  'purchase_date',     'ptp'),
            (  'purchase_date',     'min'),
            (  'purchase_date',     'max'),
            (          'month',     'sum'),
            (          'month',    'mean'),
            (          'month', 'nunique')],
           length=158)
[INFO] THE UNIQUE VALUES OF CARD ID ...
FOR NEW MERCHANT  290001
FOR HISTORICAL TRANSACTIONS  325540
1ST HALF - done in 3941s

In [ ]:
3941//60

65

In [ ]:
!ls

 augmented_test.csv			  new_merchant_transactions.csv
 augmented_train.csv			  sample_submission.csv
'Data Dictionary.xlsx'			  test.csv
 Data_Dictionary.xlsx			  train.csv
 historical_transactions.csv		  transactions_raw_merged.csv
 merchants.csv				  transactions_refined_1_merged_WON.csv
 merged_transactions_with_merchants.csv

In [ ]:
historical_transactions_df.to_pickle("historical_transactions_df.pkl")
new_merchant_df.to_pickle("new_merchant_df.pkl")

In [ ]:
!ls

 augmented_test.csv			  new_merchant_df.pkl
 augmented_train.csv			  new_merchant_transactions.csv
'Data Dictionary.xlsx'			  sample_submission.csv
 Data_Dictionary.xlsx			  test.csv
 historical_transactions.csv		  train.csv
 historical_transactions_df.pkl		  transactions_raw_merged.csv
 merchants.csv				  transactions_refined_1_merged_WON.csv
 merged_transactions_with_merchants.csv

In [ ]:
new_merchant_df = pd.read_pickle("new_merchant_df.pkl")
historical_transactions_df = pd.read_pickle("historical_transactions_df.pkl")

In [ ]:
new_merchant_df.sample(10)

                card_id authorized_flag       ... month
                                    sum mean  ...   sum       mean nunique
236720  C_ID_d116f1237e              10    1  ...    40   4.000000       1
230154  C_ID_cb4d767ff0              16    1  ...    50   3.125000       2
101750  C_ID_59dbe74984              10    1  ...    24   2.400391       2
20097   C_ID_11e39e5b20               5    1  ...     9   1.799805       2
255236  C_ID_e179132dcf               2    1  ...    22  11.000000       1
130100  C_ID_72dc560ad2               7    1  ...    25   3.572266       2
112260  C_ID_6318fdf637               3    1  ...     9   3.000000       1
241339  C_ID_d53028b34e               2    1  ...     6   3.000000       1
18695   C_ID_109ed6e984               3    1  ...     3   1.000000       1
129984  C_ID_72c501220e               3    1  ...     7   2.333984       2

[10 rows x 158 columns]

In [ ]:
historical_transactions_df.sample(10)

                card_id authorized_flag            ... month
                                    sum      mean  ...   sum      mean nunique
171362  C_ID_86c2d5b2e7             440  0.977539  ...  3218  7.152344      10
4010    C_ID_0330e95553              58  0.920410  ...   531  8.429688       7
73253   C_ID_397678055c             152  0.956055  ...   947  5.957031      12
162347  C_ID_7f9d916038              27  0.843750  ...   281  8.781250       7
156860  C_ID_7b469e9a1a              21  0.954590  ...   149  6.773438       7
13939   C_ID_0af98d13b2              43  1.000000  ...   362  8.421875      10
19227   C_ID_0f2922f7e9             386  0.967285  ...  2650  6.640625      12
298844  C_ID_eb19a749ba              26  0.866699  ...   159  5.300781      11
213049  C_ID_a77cc9598b              21  0.656250  ...   204  6.375000       3
15438   C_ID_0c27ecfec0               8  0.571289  ...    83  5.929688       3

[10 rows x 158 columns]

In [ ]:
historical_transactions_df.columns = ["_".join(col) for col in historical_transactions_df.columns.ravel()]

In [ ]:
print(historical_transactions_df.columns)

Index(['card_id_', 'authorized_flag_sum', 'authorized_flag_mean',
       'authorized_flag_mode', 'category_1_sum', 'category_1_mean',
       'category_1_mode', 'category_2_sum', 'category_2_mean',
       'category_2_mode',
       ...
       'day_nunique', 'day_mean', 'day_min', 'day_max', 'purchase_date_ptp',
       'purchase_date_min', 'purchase_date_max', 'month_sum', 'month_mean',
       'month_nunique'],
      dtype='object', length=158)

In [ ]:
historical_transactions_df.card_id_

0         C_ID_00007093c1
1         C_ID_0001238066
2         C_ID_0001506ef0
3         C_ID_0001793786
4         C_ID_000183fdda
               ...
325535    C_ID_ffff1d9928
325536    C_ID_ffff579d3a
325537    C_ID_ffff756266
325538    C_ID_ffff828181
325539    C_ID_fffffd5772
Name: card_id_, Length: 325540, dtype: object

In [ ]:
historical_transactions_df.rename(columns={'card_id_':'card_id'},inplace=True)

In [ ]:
new_merchant_df.columns = ["_".join(col) for col in new_merchant_df.columns.ravel()]

In [ ]:
print(new_merchant_df.columns)

Index(['card_id_', 'authorized_flag_sum', 'authorized_flag_mean',
       'authorized_flag_mode', 'category_1_sum', 'category_1_mean',
       'category_1_mode', 'category_2_sum', 'category_2_mean',
       'category_2_mode',
       ...
       'day_nunique', 'day_mean', 'day_min', 'day_max', 'purchase_date_ptp',
       'purchase_date_min', 'purchase_date_max', 'month_sum', 'month_mean',
       'month_nunique'],
      dtype='object', length=158)

In [ ]:
new_merchant_df.card_id

0         C_ID_00007093c1
1         C_ID_0001238066
2         C_ID_0001506ef0
3         C_ID_0001793786
4         C_ID_000183fdda
               ...
289996    C_ID_ffff1d9928
289997    C_ID_ffff579d3a
289998    C_ID_ffff756266
289999    C_ID_ffff828181
290000    C_ID_fffffd5772
Name: card_id, Length: 290001, dtype: object

In [ ]:
new_merchant_df.rename(columns={'card_id_':'card_id'},inplace=True)

In [ ]:
new_merchant_df

                card_id  authorized_flag_sum  ...  month_mean  month_nunique
0       C_ID_00007093c1                    3  ...    4.000000              1
1       C_ID_0001238066                   28  ...    3.322266              2
2       C_ID_0001506ef0                    3  ...    3.000000              1
3       C_ID_0001793786                   31  ...   11.320312              2
4       C_ID_000183fdda                   11  ...    3.273438              2
...                 ...                  ...  ...         ...            ...
289996  C_ID_ffff1d9928                    4  ...    3.750000              2
289997  C_ID_ffff579d3a                    1  ...    3.000000              1
289998  C_ID_ffff756266                    1  ...    4.000000              1
289999  C_ID_ffff828181                    8  ...    3.625000              2
290000  C_ID_fffffd5772                    3  ...    3.000000              1

[290001 rows x 158 columns]

In [ ]:
historical_transactions_df

                card_id  authorized_flag_sum  ...  month_mean  month_nunique
0       C_ID_00007093c1                  114  ...    6.375000             12
1       C_ID_0001238066                  120  ...    7.308594              6
2       C_ID_0001506ef0                   64  ...    6.957031             11
3       C_ID_0001793786                  195  ...    6.675781             10
4       C_ID_000183fdda                  142  ...    6.878906              7
...                 ...                  ...  ...         ...            ...
325535  C_ID_ffff1d9928                   10  ...    6.855469              4
325536  C_ID_ffff579d3a                   99  ...    7.949219              7
325537  C_ID_ffff756266                   14  ...    5.417969              6
325538  C_ID_ffff828181                  167  ...    6.480469             12
325539  C_ID_fffffd5772                   76  ...    7.140625              7

[325540 rows x 158 columns]

In [ ]:
325540 - 290001

In [ ]:
!ls

 augmented_test.csv			  new_merchant_df.pkl
 augmented_train.csv			  new_merchant_transactions.csv
'Data Dictionary.xlsx'			  sample_submission.csv
 Data_Dictionary.xlsx			  test.csv
 historical_transactions.csv		  train.csv
 historical_transactions_df.pkl		  transactions_raw_merged.csv
 merchants.csv				  transactions_refined_1_merged_WON.csv
 merged_transactions_with_merchants.csv

In [ ]:
train_df = pd.read_csv("train.csv")

In [ ]:
train_df.card_id

0         C_ID_92a2005557
1         C_ID_3d0044924f
2         C_ID_d639edf6cd
3         C_ID_186d6a6901
4         C_ID_cdbd2c0db2
               ...
201912    C_ID_963962de2c
201913    C_ID_1314773c0b
201914    C_ID_7666735b3d
201915    C_ID_73f5a0efd0
201916    C_ID_92c9984c58
Name: card_id, Length: 201917, dtype: object

In [ ]:
with timer("Train test"):
  df = train_test(None).reset_index()
  print(df)
with timer("merge hist and t t "):
  df = pd.merge(df, historical_transactions_df, on='card_id', how='outer')
  print(df)
with timer("merge new mer and df "):
  df = pd.merge(df, new_merchant_df, on='card_id', how='outer')
  print(df)
with timer("split train & test"):
  train_df = df[df['target'].notnull()]
  test_df = df[df['target'].isnull()]
  del test_df['target']
  del df
  gc.collect()
with timer("Save train and test files"):
  train_df.to_csv('augmented_train.csv', index=False)
  test_df.to_csv('augmented_test.csv', index=False)

Train samples: 201917, test samples: 123623
The columns on which one hot encoding is performed is  []
                card_id first_active_month  ...  feature_min  feature_std
0       C_ID_92a2005557         2017-06-01  ...          1.0          0.0
1       C_ID_3d0044924f         2017-01-01  ...          1.0          0.0
2       C_ID_d639edf6cd         2016-08-01  ...          1.0          0.0
3       C_ID_186d6a6901         2017-09-01  ...          1.0          0.0
4       C_ID_cdbd2c0db2         2017-11-01  ...          1.0          0.0
...                 ...                ...  ...          ...          ...
325535  C_ID_7a239d2eda         2017-10-01  ...          1.0          0.0
325536  C_ID_75ace375ae         2017-09-01  ...          1.0          0.0
325537  C_ID_21d56d950c         2016-09-01  ...          1.0          0.0
325538  C_ID_6c46fc5a9d         2017-06-01  ...          1.0          0.0
325539  C_ID_87e7979a5f         2016-10-01  ...          1.0          0.0

[325540 rows x 16 columns]
Train test - done in 2s
                card_id first_active_month  ...  month_mean  month_nunique
0       C_ID_92a2005557         2017-06-01  ...    7.941406              9
1       C_ID_3d0044924f         2017-01-01  ...    6.242188             12
2       C_ID_d639edf6cd         2016-08-01  ...    4.500000             10
3       C_ID_186d6a6901         2017-09-01  ...    7.640625              6
4       C_ID_cdbd2c0db2         2017-11-01  ...    5.355469              4
...                 ...                ...  ...         ...            ...
325535  C_ID_7a239d2eda         2017-10-01  ...    7.113281              5
325536  C_ID_75ace375ae         2017-09-01  ...   10.109375              5
325537  C_ID_21d56d950c         2016-09-01  ...    7.566406              7
325538  C_ID_6c46fc5a9d         2017-06-01  ...    7.816406              5
325539  C_ID_87e7979a5f         2016-10-01  ...    6.402344             12

[325540 rows x 173 columns]
merge hist and t t  - done in 8s
                card_id first_active_month  ...  month_mean_y  month_nunique_y
0       C_ID_92a2005557         2017-06-01  ...      3.478516              2.0
1       C_ID_3d0044924f         2017-01-01  ...      2.500000              2.0
2       C_ID_d639edf6cd         2016-08-01  ...      4.000000              1.0
3       C_ID_186d6a6901         2017-09-01  ...      3.714844              2.0
4       C_ID_cdbd2c0db2         2017-11-01  ...      3.554688              2.0
...                 ...                ...  ...           ...              ...
325535  C_ID_7a239d2eda         2017-10-01  ...           NaN              NaN
325536  C_ID_75ace375ae         2017-09-01  ...      3.250000              2.0
325537  C_ID_21d56d950c         2016-09-01  ...           NaN              NaN
325538  C_ID_6c46fc5a9d         2017-06-01  ...     11.000000              1.0
325539  C_ID_87e7979a5f         2016-10-01  ...      3.000000              1.0

[325540 rows x 330 columns]
merge new mer and df  - done in 8s
split train & test - done in 1s
Save train and test files - done in 105s

## Load the dataset

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/data/augmented_train.csv')

In [ ]:
train_df

                card_id   first_active_month  ...  month_mean_y  month_nunique_y
0       C_ID_92a2005557  2017-06-01 00:00:00  ...         3.479              2.0
1       C_ID_3d0044924f  2017-01-01 00:00:00  ...         2.500              2.0
2       C_ID_d639edf6cd  2016-08-01 00:00:00  ...         4.000              1.0
3       C_ID_186d6a6901  2017-09-01 00:00:00  ...         3.715              2.0
4       C_ID_cdbd2c0db2  2017-11-01 00:00:00  ...         3.555              2.0
...                 ...                  ...  ...           ...              ...
201912  C_ID_963962de2c  2017-09-01 00:00:00  ...         3.000              1.0
201913  C_ID_1314773c0b  2015-10-01 00:00:00  ...         3.000              1.0
201914  C_ID_7666735b3d  2017-08-01 00:00:00  ...         3.000              1.0
201915  C_ID_73f5a0efd0  2016-07-01 00:00:00  ...        11.600              2.0
201916  C_ID_92c9984c58  2017-07-01 00:00:00  ...         3.500              2.0

[201917 rows x 330 columns]

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/data/augmented_test.csv')

In [ ]:
test_df

                card_id   first_active_month  ...  month_mean_y  month_nunique_y
0       C_ID_0ab67a22ab  2017-04-01 00:00:00  ...         2.000              1.0
1       C_ID_130fd0cbdd  2017-01-01 00:00:00  ...         3.400              2.0
2       C_ID_b709037bc5  2017-08-01 00:00:00  ...         3.000              1.0
3       C_ID_d27d835a9f  2017-12-01 00:00:00  ...         3.300              2.0
4       C_ID_2b5e3df5c2  2015-12-01 00:00:00  ...         3.166              2.0
...                 ...                  ...  ...           ...              ...
123618  C_ID_7a239d2eda  2017-10-01 00:00:00  ...           NaN              NaN
123619  C_ID_75ace375ae  2017-09-01 00:00:00  ...         3.250              2.0
123620  C_ID_21d56d950c  2016-09-01 00:00:00  ...           NaN              NaN
123621  C_ID_6c46fc5a9d  2017-06-01 00:00:00  ...        11.000              1.0
123622  C_ID_87e7979a5f  2016-10-01 00:00:00  ...         3.000              1.0

[123623 rows x 329 columns]

In [ ]:
test = pd.read_csv("test.csv")

In [ ]:
test

       first_active_month          card_id  feature_1  feature_2  feature_3
0                 2017-04  C_ID_0ab67a22ab          3          3          1
1                 2017-01  C_ID_130fd0cbdd          2          3          0
2                 2017-08  C_ID_b709037bc5          5          1          1
3                 2017-12  C_ID_d27d835a9f          2          1          0
4                 2015-12  C_ID_2b5e3df5c2          5          1          1
...                   ...              ...        ...        ...        ...
123618            2017-10  C_ID_7a239d2eda          2          2          0
123619            2017-09  C_ID_75ace375ae          3          1          1
123620            2016-09  C_ID_21d56d950c          5          1          1
123621            2017-06  C_ID_6c46fc5a9d          2          1          0
123622            2016-10  C_ID_87e7979a5f          5          1          1

[123623 rows x 5 columns]

## Start Exploring

In [ ]:
train_df.isnull().sum(axis = 0)

card_id                    0
first_active_month         0
feature_1                  0
feature_2                  0
feature_3                  0
                       ...
purchase_date_min_y    21931
purchase_date_max_y    21931
month_sum_y            21931
month_mean_y           21931
month_nunique_y        21931
Length: 330, dtype: int64

### Checking for percentage of null values

In [ ]:
#Gives the name of all the variables with missing data 

columns_with_na = [var for var in train_df.columns if train_df[var].isnull().mean()  > 0]

In [ ]:
len(columns_with_na)

168

In [ ]:
#lets find out the percentage of observations missing per variable

#calculate the percentage of missing 
data_na = train_df[columns_with_na].isnull().mean()

#transform the array to dataframe 
data_na = pd.DataFrame(data_na.reset_index())

#add names to the dataframe 
data_na.columns = ['col','percentage_na']

#oreder the dataframe acc to percentage 
data_na.sort_values(by = 'percentage_na',ascending = False, inplace = True)

#show
data_na

                                        col  percentage_na
87        avg_sales_lag3_merchants_t_skew_y       0.344117
117      avg_sales_lag12_merchants_t_skew_y       0.344117
105       avg_sales_lag6_merchants_t_skew_y       0.344117
123  avg_purchases_lag12_merchants_t_skew_y       0.344052
141  active_months_lag12_merchants_t_skew_y       0.344052
..                                      ...            ...
9     active_months_lag6_merchants_t_skew_x       0.000168
7    avg_purchases_lag12_merchants_t_skew_x       0.000168
8            numerical_1_merchants_t_skew_x       0.000168
10   active_months_lag12_merchants_t_skew_x       0.000168
0            numerical_2_merchants_t_skew_x       0.000168

[168 rows x 2 columns]

In [ ]:
print(data_na[data_na.percentage_na>0.1])

                                         col  percentage_na
87         avg_sales_lag3_merchants_t_skew_y       0.344117
117       avg_sales_lag12_merchants_t_skew_y       0.344117
105        avg_sales_lag6_merchants_t_skew_y       0.344117
123   avg_purchases_lag12_merchants_t_skew_y       0.344052
141   active_months_lag12_merchants_t_skew_y       0.344052
..                                       ...            ...
54        subsector_id_merchants_t_nunique_y       0.108614
55           subsector_id_merchants_t_mode_y       0.108614
56             city_id_merchants_t_nunique_y       0.108614
57                city_id_merchants_t_mode_y       0.108614
53   merchant_category_id_merchants_t_mode_y       0.108614

[157 rows x 2 columns]