<a href="https://colab.research.google.com/github/human-ai2025/Elo-Merchant-Recommendation/blob/master/Elo-Merchant-Recommendation/Feature%20Engineering/featureEngineeringMMElo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing the libraries

In [1]:
#Import Libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import gc
from contextlib import contextmanager
from pandas.core.common import SettingWithCopyWarning
import datetime
import time
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import mode
import pickle
import datetime

In [2]:
! [ -e /content ] && pip install -Uqq fastai  # upgrade fastai on colab

     |████████████████████████████████| 194kB 5.6MB/s
     |████████████████████████████████| 61kB 5.2MB/s

In [3]:
from fastai.torch_basics import *
from fastai.data.all import *

## Mounting Drive

In [2]:
#Mounting drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Set up the path

In [3]:
%cd /content/drive/MyDrive/data

/content/drive/MyDrive/data

### View Current Items in the folder

In [6]:
!ls

 augmented_test.csv
 augmented_test_try1.csv
 augmented_test_try1_model_imputation.csv
 augmented_train.csv
 augmented_train_try1.csv
 augmented_train_try1_model_imputation.csv
 clf_cat2.sav
 clf_cat3.sav
 clf_name.sav
'Data Dictionary.xlsx'
 Data_Dictionary.xlsx
 dateTimeFeatures.csv
 file_name.csv
 hist_authorized_flag_enc.npy
 hist_category_1_enc.npy
 hist_category_3_enc.npy
 historical_transactions.csv
 historical_transactions_df.pkl
 hist_trans_preprocessed.csv
 knn_sal_12.sav
 knn_sal_3.sav
 knn_sal_6.sav
 LR_cat_2.sav
 mer_authorized_flag_enc.npy
 mer_category_1_enc.npy
 mer_category_3_enc.npy
 merchant_category_1_enc.npy
 merchant_category_4_enc.npy
 merchant_most_recent_purchases_range_enc.npy
 merchant_most_recent_sales_range_enc.npy
 merchants.csv
 merchants_preprocessed.csv
 merged_transactions_with_merchants.csv
 new_merchant_authorized_flag_enc.npy
 new_merchant_category_1_enc.npy
 new_merchant_df.pkl
 newMerchants_trans_preprocessed.csv
 new_merchant_transactions.csv
 sample_submission.csv
 test.csv
 train.csv
 transactions_raw_merged.csv
 transactions_refined_1_merged_WON.csv

## Feature Engineering

1. Feature Engineering involves ideating, selecting, and creating useful features in the datasets, to help fully identify the potential fruitful connections, correlations, and patterns to explore in your machine learning models. 
2. Interpreating dates and adding new feature dependant on date and time.
3. Statiscal aggregates on numerical and categorical columns. 
4. Feature interactions between new merchant transaction and historical transactions.

## Helper Functions

In [4]:
def reduce_mem_usage(df, verbose=True):
  """ Helps to reduce memory usage """
  numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
  start_mem = df.memory_usage().sum() / 1024**2
  for col in df.columns:
      col_type = df[col].dtypes
      if col_type in numerics:
          c_min = df[col].min()
          c_max = df[col].max()
          if str(col_type)[:3] == 'int':
              if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                  df[col] = df[col].astype(np.int8)
              elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                  df[col] = df[col].astype(np.int16)
              elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                  df[col] = df[col].astype(np.int32)
              elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                  df[col] = df[col].astype(np.int64)
          else:
              if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                  df[col] = df[col].astype(np.float16)
              elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                  df[col] = df[col].astype(np.float32)
              else:
                  df[col] = df[col].astype(np.float64)

  end_mem = df.memory_usage().sum() / 1024**2
  print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
  print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

  return df

In [8]:
def add_datepart(df, fldname, drop=True, time=False):
    """
    Helper function that adds columns relevant to a date.
    -----------------------------------------------------
    Args:
          df: The data frame on which you want to perform operations 
          fldname: The name of the column
          drop: Drop the parent column from the data frame 
          time: Add attributes such as hour, minute and second
    ------------------------------------------------------
    This code is taken from the below link 
    Refer:-https://gist.github.com/adidoit/d32f6117647b0e8564edc6507f9e3625
    Refer:-https://colab.research.google.com/github/fastai/fastai/blob/master/nbs/40_tabular.core.ipynb#scrollTo=qt7-T33VVNwx
    """
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    #https://www.programiz.com/python-programming/methods/built-in/getattr
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [9]:
def dateTimeFeatures(df):
  """

    To retuurn a dataframe with new date time features 
    ---------------------------------------------------------
    Args:
      df:- The dataframe on which we want to do 
    ---------------------------------------------------------
    Returns:
    A dataframe with date time features 
    ---------------------------------------------------------
    To DO:
      1. Add holidays 

  """

  # basic date time features
  df['purchasedWeekend'] = (df.purchase_Dayofweek >=5).astype(int)
  df['purchasedWeekday'] = (df.purchase_Dayofweek <5).astype(int)
  #difference in months from today
  df['monthDiff'] = ((datetime.today() - df['purchase_date']).dt.days) // 30
  #month lag to reference date
  df['monthDiff'] += df['month_lag']

  return df

In [11]:
def nullValues(df):
  """ Find the columns with null values """
  columns_with_na = [var for var in df.columns if df[var].isnull().mean()  > 0]
  #lets find out the percentage of observations missing per variable

  #calculate the percentage of missing 
  data_na = df[columns_with_na].isnull().mean()

  #transform the array to dataframe 
  data_na = pd.DataFrame(data_na.reset_index())

  #add names to the dataframe 
  data_na.columns = ['col','percentage_na']

  #oreder the dataframe acc to percentage 
  data_na.sort_values(by = 'percentage_na',ascending = False, inplace = True)

  #show
  data_na
  return data_na

## Merge and appply

In [13]:
#read the files 

histDf = reduce_mem_usage(pd.read_csv("hist_trans_preprocessed.csv",parse_dates=['purchase_date']))

newdf = reduce_mem_usage(pd.read_csv("newMerchants_trans_preprocessed.csv",parse_dates=['purchase_date']) )

Memory usage after optimization is: 1166.08 MB
Decreased by 62.5%
Memory usage after optimization is: 74.88 MB
Decreased by 64.3%

In [14]:
#merge the two files 
transactions = histDf.append(newdf, ignore_index=True)

In [15]:

del histDf, newdf
gc.collect()

0

In [16]:
add_datepart(transactions, 'purchase_date', drop=False, time=True)

In [17]:
transactions.head()

   authorized_flag          card_id  ...  purchase_Second  purchase_Elapsed
0                1  C_ID_4e6213e9bc  ...                7        1498404787
1                1  C_ID_4e6213e9bc  ...               45        1500120645
2                1  C_ID_4e6213e9bc  ...               29        1502316269
3                1  C_ID_4e6213e9bc  ...               26        1504346786
4                1  C_ID_4e6213e9bc  ...               19        1489108459

[5 rows x 30 columns]

In [18]:
mapping = {False:0, True:1}
transactions.replace({"purchase_Is_month_end": mapping,
                      "purchase_Is_month_start": mapping,
                      "purchase_Is_quarter_end": mapping,
                      "purchase_Is_quarter_start": mapping,
                      "purchase_Is_year_end": mapping,
                      "purchase_Is_year_start": mapping},
                     inplace = True)

In [19]:
transactions = dateTimeFeatures(transactions)

In [20]:
transactions.head().T

                                             0  ...                    4
authorized_flag                              1  ...                    1
card_id                        C_ID_4e6213e9bc  ...      C_ID_4e6213e9bc
city_id                                     88  ...                   88
category_1                                   0  ...                    0
installments                                 0  ...                    0
category_3                                   0  ...                    0
merchant_category_id                        80  ...                   80
merchant_id                    M_ID_e020e9b302  ...      M_ID_e020e9b302
month_lag                                   -8  ...                  -11
purchase_amount                      -0.703331  ...            -0.722865
purchase_date              2017-06-25 15:33:07  ...  2017-03-10 01:14:19
category_2                                   1  ...                    1
state_id                                    16  ...                   16
subsector_id                                37  ...                   37
purchase_Year                             2017  ...                 2017
purchase_Month                               6  ...                    3
purchase_Week                               25  ...                   10
purchase_Day                                25  ...                   10
purchase_Dayofweek                           6  ...                    4
purchase_Dayofyear                         176  ...                   69
purchase_Is_month_end                        0  ...                    0
purchase_Is_month_start                      0  ...                    0
purchase_Is_quarter_end                      0  ...                    0
purchase_Is_quarter_start                    0  ...                    0
purchase_Is_year_end                         0  ...                    0
purchase_Is_year_start                       0  ...                    0
purchase_Hour                               15  ...                    1
purchase_Minute                             33  ...                   14
purchase_Second                              7  ...                   19
purchase_Elapsed                    1498404787  ...           1489108459
purchasedWeekend                             1  ...                    0
purchasedWeekday                             0  ...                    1
monthDiff                                   36  ...                   37

[33 rows x 5 columns]

### Purchase Amount 
The purchase amount column is normalized and heavily trannsforme.

In [21]:
#Refer:-https://www.kaggle.com/raddar/towards-de-anonymizing-the-data-some-insights

transactions['purchase_amount'] = np.round(transactions['purchase_amount'] / 0.00150265118 + 497.06,2)

In [22]:
transactions.purchase_amount

0           29.00
1            9.17
2           17.65
3            7.69
4           16.00
            ...
31075387    30.11
31075388    34.99
31075389    83.73
31075390    60.01
31075391     5.09
Name: purchase_amount, Length: 31075392, dtype: float64

In [23]:
#find the percentile value to get the outliners 
for i in range(90, 101):
  print("{} percentile value is {:3.3f}".format(i, np.percentile(transactions['purchase_amount'], i)))

90 percentile value is 215.000
91 percentile value is 236.310
92 percentile value is 260.000
93 percentile value is 294.900
94 percentile value is 331.830
95 percentile value is 389.200
96 percentile value is 467.650
97 percentile value is 590.000
98 percentile value is 800.070
99 percentile value is 1322.000
100 percentile value is 4000000017.910

In [24]:
# Remove the 100th percentile 
transactions = transactions.drop(transactions[transactions['purchase_amount'] == 4000000017.910].index)

In [25]:
# one hot encoding 
transactions = pd.get_dummies(transactions, columns=['purchasedWeekday', 'purchase_Month', 'purchasedWeekend', 'purchase_Dayofweek'])
transactions.head()

   authorized_flag          card_id  ...  purchase_Dayofweek_5  purchase_Dayofweek_6
0                1  C_ID_4e6213e9bc  ...                     0                     1
1                1  C_ID_4e6213e9bc  ...                     1                     0
2                1  C_ID_4e6213e9bc  ...                     0                     0
3                1  C_ID_4e6213e9bc  ...                     1                     0
4                1  C_ID_4e6213e9bc  ...                     0                     0

[5 rows x 52 columns]

#### Find the aggregations on date time features

In [26]:
transactions.purchase_Year.value_counts().idxmax()

2017

In [27]:
transactions['purchase_date_temp'] = transactions.purchase_date.dt.date

In [28]:
def mode(series):
    """Most common element in a series"""
    tmode = series.value_counts().idxmax()
    return tmode
        
def period(series):
    """Period of a series (max-min)"""
    return series.max() - series.min()

def mean_diff(series):
    """Mean difference between consecutive items in a series"""
    ss = series.sort_values()
    return (ss - ss.shift()).mean()


common_aggs = ['sum', 'mean', 'std']

In [29]:
aggs = {
      'purchase_Year' : mode,
      'purchase_Week' : common_aggs,
      'purchase_Day' : common_aggs,
      'purchase_Dayofyear' : common_aggs, 
      'purchase_Is_month_end' : common_aggs,
      'purchase_Is_month_start' : common_aggs, 
      'purchase_Is_quarter_end' : common_aggs,
      'purchase_Is_quarter_start' : common_aggs, 
      'purchase_Is_year_end' : common_aggs,
      'purchase_Is_year_start' :common_aggs, 
      'purchase_Hour' : common_aggs, 
      'purchase_Minute' : common_aggs,
      'purchase_Second' : common_aggs, 
      'purchase_Elapsed' : common_aggs, 
      'purchasedWeekday_0' : common_aggs, 
      'purchasedWeekday_1': common_aggs, 
      'purchase_Month_1': common_aggs,
      'purchase_Month_2': common_aggs, 
      'purchase_Month_3': common_aggs, 
      'purchase_Month_4': common_aggs,
      'purchase_Month_5': common_aggs, 
      'purchase_Month_6': common_aggs, 
      'purchase_Month_7': common_aggs,
      'purchase_Month_8': common_aggs, 
      'purchase_Month_9': common_aggs, 
      'purchase_Month_10': common_aggs,
      'purchase_Month_11': common_aggs, 
      'purchase_Month_12': common_aggs, 
      'purchasedWeekend_0': common_aggs,
      'purchasedWeekend_1': common_aggs, 
      'purchase_Dayofweek_0': common_aggs, 
      'purchase_Dayofweek_1': common_aggs,
      'purchase_Dayofweek_2': common_aggs, 
      'purchase_Dayofweek_3': common_aggs, 
      'purchase_Dayofweek_4': common_aggs,
      'purchase_Dayofweek_5': common_aggs, 
      'purchase_Dayofweek_6': common_aggs,
      'purchase_date_temp': [period , mean_diff, 'min', 'max',],
      'monthDiff' :[period , mean_diff]
}

In [30]:
%%time
dateTimeFeatures = transactions.groupby('card_id').agg(aggs)
#rename 
dateTimeFeatures.columns = ['_'.join(col).strip() 
                           for col in dateTimeFeatures.columns.values]

CPU times: user 18min 24s, sys: 3.14 s, total: 18min 27s
Wall time: 18min 27s

In [31]:
dateTimeFeatures

                 purchase_Year_mode  ...  monthDiff_mean_diff
card_id                              ...
C_ID_00007093c1                2017  ...             0.006667
C_ID_0001238066                2018  ...             0.006757
C_ID_0001506ef0                2017  ...             0.014925
C_ID_0001793786                2017  ...             0.004065
C_ID_000183fdda                2017  ...             0.006494
...                             ...  ...                  ...
C_ID_ffff1d9928                2018  ...             0.066667
C_ID_ffff579d3a                2017  ...             0.008772
C_ID_ffff756266                2017  ...             0.041667
C_ID_ffff828181                2017  ...             0.005076
C_ID_fffffd5772                2017  ...             0.011628

[325540 rows x 115 columns]

In [32]:
from datetime import date

In [33]:
# well need to convert purchase_date_temp_period, purchase_date_temp_mean_diff, purchase_date_temp_min, purchase_date_temp_max
dateTimeFeatures.purchase_date_temp_period = dateTimeFeatures.purchase_date_temp_period.dt.days
dateTimeFeatures.purchase_date_temp_mean_diff = dateTimeFeatures.purchase_date_temp_mean_diff.dt.total_seconds()/3600
dateTimeFeatures.purchase_date_temp_min = (date.today() - dateTimeFeatures['purchase_date_temp_min']).dt.days
dateTimeFeatures.purchase_date_temp_max = (date.today() - dateTimeFeatures['purchase_date_temp_max']).dt.days

In [34]:
dateTimeFeatures

                 purchase_Year_mode  ...  monthDiff_mean_diff
card_id                              ...
C_ID_00007093c1                2017  ...             0.006667
C_ID_0001238066                2018  ...             0.006757
C_ID_0001506ef0                2017  ...             0.014925
C_ID_0001793786                2017  ...             0.004065
C_ID_000183fdda                2017  ...             0.006494
...                             ...  ...                  ...
C_ID_ffff1d9928                2018  ...             0.066667
C_ID_ffff579d3a                2017  ...             0.008772
C_ID_ffff756266                2017  ...             0.041667
C_ID_ffff828181                2017  ...             0.005076
C_ID_fffffd5772                2017  ...             0.011628

[325540 rows x 115 columns]

In [35]:
def remove_noninformative(df):
    """Remove non-informative columns (all nan, or all same value)"""
    for col in df:
        if df[col].isnull().all():
            print('Removing '+col+' (all NaN)')
            del df[col]
        elif df[col].nunique()<2:
            print('Removing '+col+' (only 1 unique value)')
            del df[col]

remove_noninformative(dateTimeFeatures)
gc.collect()

0

In [36]:
dateTimeFeatures.to_csv('dateTimeFeatures.csv')

In [37]:
dateTimeFeatures

                 purchase_Year_mode  ...  monthDiff_mean_diff
card_id                              ...
C_ID_00007093c1                2017  ...             0.006667
C_ID_0001238066                2018  ...             0.006757
C_ID_0001506ef0                2017  ...             0.014925
C_ID_0001793786                2017  ...             0.004065
C_ID_000183fdda                2017  ...             0.006494
...                             ...  ...                  ...
C_ID_ffff1d9928                2018  ...             0.066667
C_ID_ffff579d3a                2017  ...             0.008772
C_ID_ffff756266                2017  ...             0.041667
C_ID_ffff828181                2017  ...             0.005076
C_ID_fffffd5772                2017  ...             0.011628

[325540 rows x 115 columns]

## Feature engineering on other features

In [38]:
common_aggs = ['sum', 'mean', 'std']
common_aggs1 = ['sum', 'mean', 'min', 'max', 'std']
aggs = {
      'authorized_flag' : common_aggs,
      'category_1' : common_aggs,
      'category_2' : common_aggs,
      'category_3' : common_aggs, 
      'month_lag' : common_aggs1, 
      'installments' : common_aggs1,
      'purchase_amount' : common_aggs1
}

In [39]:
%%time
otherFeatures = transactions.groupby('card_id').agg(aggs)
#rename 
otherFeatures.columns = ['_'.join(col).strip() 
                           for col in otherFeatures.columns.values]

CPU times: user 12.1 s, sys: 58.6 ms, total: 12.2 s
Wall time: 12.2 s

In [40]:
otherFeatures

                 authorized_flag_sum  ...  purchase_amount_std
card_id                               ...
C_ID_00007093c1                116.0  ...           197.409986
C_ID_0001238066                146.0  ...           124.426646
C_ID_0001506ef0                 64.0  ...           310.398216
C_ID_0001793786                220.0  ...           565.961144
C_ID_000183fdda                148.0  ...           338.702256
...                              ...  ...                  ...
C_ID_ffff1d9928                 13.0  ...           143.970549
C_ID_ffff579d3a                100.0  ...            27.974194
C_ID_ffff756266                 15.0  ...           346.523658
C_ID_ffff828181                174.0  ...            72.239923
C_ID_fffffd5772                 78.0  ...            50.120889

[325540 rows x 27 columns]

In [41]:
otherFeatures.to_csv('otherFeatures.csv')

## Merchants file

In [42]:
merchants = pd.read_csv("merchants_preprocessed.csv") 
merchants.columns = 'mer_' + merchants.columns.values
merchants.rename(columns = {'mer_merchant_id':'merchant_id'}, inplace = True)

In [45]:
requiredTrans = transactions[['card_id', 'merchant_id']]

In [46]:
merTrans = pd.merge(requiredTrans, merchants, on='merchant_id', how='left')

In [48]:
del requiredTrans, merchants
gc.collect()

737

In [47]:
merTrans.head().T

                                               0  ...                4
card_id                          C_ID_4e6213e9bc  ...  C_ID_4e6213e9bc
merchant_id                      M_ID_e020e9b302  ...  M_ID_e020e9b302
mer_merchant_group_id                         35  ...               35
mer_merchant_category_id                      80  ...               80
mer_subsector_id                              37  ...               37
mer_numerical_1                            23.47  ...            23.47
mer_numerical_2                            23.02  ...            23.02
mer_category_1                                 1  ...                1
mer_most_recent_sales_range                    0  ...                0
mer_most_recent_purchases_range                0  ...                0
mer_avg_sales_lag3                          1.08  ...             1.08
mer_avg_purchases_lag3                     1.082  ...            1.082
mer_active_months_lag3                         3  ...                3
mer_avg_sales_lag6                          1.14  ...             1.14
mer_avg_purchases_lag6                     1.114  ...            1.114
mer_active_months_lag6                         6  ...                6
mer_avg_sales_lag12                         1.19  ...             1.19
mer_avg_purchases_lag12                    1.157  ...            1.157
mer_active_months_lag12                       12  ...               12
mer_category_4                                 0  ...                0
mer_city_id                                   88  ...               88
mer_state_id                                  16  ...               16
mer_category_2                                 1  ...                1

[23 rows x 5 columns]

In [50]:
merTrans.to_csv('merTrans.csv')

In [5]:
merTrans = reduce_mem_usage(pd.read_csv("merTrans.csv"))

Memory usage after optimization is: 2158.17 MB
Decreased by 63.5%

In [6]:
merTrans.head().T

                                               0  ...                4
Unnamed: 0                                     0  ...                4
card_id                          C_ID_4e6213e9bc  ...  C_ID_4e6213e9bc
merchant_id                      M_ID_e020e9b302  ...  M_ID_e020e9b302
mer_merchant_group_id                         35  ...               35
mer_merchant_category_id                      80  ...               80
mer_subsector_id                              37  ...               37
mer_numerical_1                          23.4688  ...          23.4688
mer_numerical_2                          23.0156  ...          23.0156
mer_category_1                                 1  ...                1
mer_most_recent_sales_range                    0  ...                0
mer_most_recent_purchases_range                0  ...                0
mer_avg_sales_lag3                          1.08  ...             1.08
mer_avg_purchases_lag3                   1.08203  ...          1.08203
mer_active_months_lag3                         3  ...                3
mer_avg_sales_lag6                          1.14  ...             1.14
mer_avg_purchases_lag6                   1.11426  ...          1.11426
mer_active_months_lag6                         6  ...                6
mer_avg_sales_lag12                         1.19  ...             1.19
mer_avg_purchases_lag12                  1.15723  ...          1.15723
mer_active_months_lag12                       12  ...               12
mer_category_4                                 0  ...                0
mer_city_id                                   88  ...               88
mer_state_id                                  16  ...               16
mer_category_2                                 1  ...                1

[24 rows x 5 columns]

In [8]:
common_aggs = ['sum', 'mean', 'std']
common_aggs1 = ['sum', 'mean', 'min', 'max', 'std']
aggs = {
      #Numerical features 
      'mer_numerical_1' : common_aggs1,
      'mer_numerical_2' : common_aggs1,
      'mer_avg_sales_lag3' : common_aggs1,
      'mer_avg_sales_lag6' : common_aggs, 
      'mer_avg_sales_lag12' : common_aggs1, 
      'mer_avg_purchases_lag3' : common_aggs1,
      'mer_avg_purchases_lag6' : common_aggs1,
      'mer_avg_purchases_lag12' : common_aggs1,
      'mer_active_months_lag3' : common_aggs1,
      'mer_active_months_lag6' : common_aggs1,
      'mer_active_months_lag12' : common_aggs1, 

      #categorical features 
      'mer_category_1' : common_aggs, 
      'mer_most_recent_sales_range' : common_aggs,
      'mer_most_recent_purchases_range' : common_aggs,
      'mer_category_4' : common_aggs,
      'mer_category_2' : common_aggs
}

In [9]:
%%time
merfeat = merTrans.groupby('card_id').agg(aggs)
#rename 
merfeat.columns = ['_'.join(col).strip() 
                           for col in merfeat.columns.values]

CPU times: user 32.1 s, sys: 331 ms, total: 32.4 s
Wall time: 32.5 s

In [10]:
# store the features in a csv file 
merfeat.to_csv('merfeat.csv')

In [11]:
merfeat

                 mer_numerical_1_sum  ...  mer_category_2_std
card_id                               ...
C_ID_00007093c1           270.000000  ...            0.798657
C_ID_0001238066          1324.000000  ...            1.396531
C_ID_0001506ef0            65.500000  ...            0.470801
C_ID_0001793786           287.250000  ...            0.491952
C_ID_000183fdda            32.500000  ...            0.663515
...                              ...  ...                 ...
C_ID_ffff1d9928             1.143555  ...            1.341641
C_ID_ffff579d3a           605.500000  ...            0.000000
C_ID_ffff756266            10.960938  ...            0.000000
C_ID_ffff828181           108.687500  ...            0.641563
C_ID_fffffd5772           147.500000  ...            0.984467

[325540 rows x 68 columns]

## Merge everything

In [12]:
#read all the features 
dateTimeFeatures = reduce_mem_usage(pd.read_csv("dateTimeFeatures.csv"))
otherFeatures = reduce_mem_usage(pd.read_csv("otherFeatures.csv"))

Memory usage after optimization is: 79.79 MB
Decreased by 72.3%
Memory usage after optimization is: 20.80 MB
Decreased by 70.1%

In [22]:
#load train and test 
train = reduce_mem_usage(pd.read_csv("train.csv"))
test = reduce_mem_usage(pd.read_csv("test.csv"))

Memory usage after optimization is: 4.04 MB
Decreased by 56.2%
Memory usage after optimization is: 2.24 MB
Decreased by 52.5%

In [23]:
train

       first_active_month          card_id  ...  feature_3    target
0                 2017-06  C_ID_92a2005557  ...          1 -0.820312
1                 2017-01  C_ID_3d0044924f  ...          0  0.392822
2                 2016-08  C_ID_d639edf6cd  ...          0  0.687988
3                 2017-09  C_ID_186d6a6901  ...          0  0.142456
4                 2017-11  C_ID_cdbd2c0db2  ...          0 -0.159790
...                   ...              ...  ...        ...       ...
201912            2017-09  C_ID_963962de2c  ...          1 -2.740234
201913            2015-10  C_ID_1314773c0b  ...          1  0.312988
201914            2017-08  C_ID_7666735b3d  ...          0  0.093506
201915            2016-07  C_ID_73f5a0efd0  ...          1 -4.675781
201916            2017-07  C_ID_92c9984c58  ...          1 -1.859375

[201917 rows x 6 columns]

In [24]:
test

       first_active_month          card_id  feature_1  feature_2  feature_3
0                 2017-04  C_ID_0ab67a22ab          3          3          1
1                 2017-01  C_ID_130fd0cbdd          2          3          0
2                 2017-08  C_ID_b709037bc5          5          1          1
3                 2017-12  C_ID_d27d835a9f          2          1          0
4                 2015-12  C_ID_2b5e3df5c2          5          1          1
...                   ...              ...        ...        ...        ...
123618            2017-10  C_ID_7a239d2eda          2          2          0
123619            2017-09  C_ID_75ace375ae          3          1          1
123620            2016-09  C_ID_21d56d950c          5          1          1
123621            2017-06  C_ID_6c46fc5a9d          2          1          0
123622            2016-10  C_ID_87e7979a5f          5          1          1

[123623 rows x 5 columns]

In [25]:

def featureEngineering(df):
  #some feature engineering based on the main train set features 
  df['first_active_month'] = pd.to_datetime(df['first_active_month'])

  # datetime features
  df['year'] =  df['first_active_month'].dt.year
  df['quarter'] = df['first_active_month'].dt.quarter
  df['elapsed_time'] = (datetime.datetime.today() - df['first_active_month']).dt.days

  # Some basic statistics transformations over the feature_i columns
  df['feature_sum'] = df['feature_1'] + df['feature_2'] + df['feature_3']
  df['feature_mean'] = df['feature_sum'] / 3
  df['feature_max'] = df[['feature_1', 'feature_2', 'feature_3']].max(axis=1)
  df['feature_min'] = df[['feature_1', 'feature_2', 'feature_3']].min(axis=1)
  df['feature_std'] = df[['feature_1', 'feature_2', 'feature_3']].std(axis=1)

  return df

In [26]:
train = featureEngineering(train)

In [27]:
train

       first_active_month          card_id  ...  feature_min  feature_std
0              2017-06-01  C_ID_92a2005557  ...            1     2.081666
1              2017-01-01  C_ID_3d0044924f  ...            0     2.081666
2              2016-08-01  C_ID_d639edf6cd  ...            0     1.154701
3              2017-09-01  C_ID_186d6a6901  ...            0     2.081666
4              2017-11-01  C_ID_cdbd2c0db2  ...            0     1.527525
...                   ...              ...  ...          ...          ...
201912         2017-09-01  C_ID_963962de2c  ...            1     1.000000
201913         2015-10-01  C_ID_1314773c0b  ...            1     1.154701
201914         2017-08-01  C_ID_7666735b3d  ...            0     2.081666
201915         2016-07-01  C_ID_73f5a0efd0  ...            1     1.000000
201916         2017-07-01  C_ID_92c9984c58  ...            1     1.154701

[201917 rows x 14 columns]

In [28]:
test = featureEngineering(test)

In [29]:
test

       first_active_month          card_id  ...  feature_min  feature_std
0              2017-04-01  C_ID_0ab67a22ab  ...            1     1.154701
1              2017-01-01  C_ID_130fd0cbdd  ...            0     1.527525
2              2017-08-01  C_ID_b709037bc5  ...            1     2.309401
3              2017-12-01  C_ID_d27d835a9f  ...            0     1.000000
4              2015-12-01  C_ID_2b5e3df5c2  ...            1     2.309401
...                   ...              ...  ...          ...          ...
123618         2017-10-01  C_ID_7a239d2eda  ...            0     1.154701
123619         2017-09-01  C_ID_75ace375ae  ...            1     1.154701
123620         2016-09-01  C_ID_21d56d950c  ...            1     2.309401
123621         2017-06-01  C_ID_6c46fc5a9d  ...            0     1.000000
123622         2016-10-01  C_ID_87e7979a5f  ...            1     2.309401

[123623 rows x 13 columns]

In [30]:
#now merge the features on the basis of card id 

#date time features 
train = pd.merge(train, dateTimeFeatures,on='card_id', how='left' )
test = pd.merge(test, dateTimeFeatures,on='card_id', how='left' )

In [31]:
train

       first_active_month  ... monthDiff_mean_diff
0              2017-06-01  ...            0.003546
1              2017-01-01  ...            0.002817
2              2016-08-01  ...            0.023254
3              2017-09-01  ...            0.012047
4              2017-11-01  ...            0.005951
...                   ...  ...                 ...
201912         2017-09-01  ...            0.021744
201913         2015-10-01  ...            0.021271
201914         2017-08-01  ...            0.011238
201915         2016-07-01  ...            0.033325
201916         2017-07-01  ...            0.007092

[201917 rows x 129 columns]

In [32]:
#otherFeatures
train = pd.merge(train, otherFeatures,on='card_id', how='left' )
test = pd.merge(test, otherFeatures,on='card_id', how='left' )

In [33]:
train

       first_active_month  ... purchase_amount_std
0              2017-06-01  ...          138.101593
1              2017-01-01  ...          254.249817
2              2016-08-01  ...           57.512569
3              2017-09-01  ...          167.072281
4              2017-11-01  ...          802.122375
...                   ...  ...                 ...
201912         2017-09-01  ...           27.289751
201913         2015-10-01  ...           26.457180
201914         2017-08-01  ...          567.508423
201915         2016-07-01  ...          454.747833
201916         2017-07-01  ...          167.119537

[201917 rows x 156 columns]

In [34]:
#merchant features 
train = pd.merge(train, merfeat,on='card_id', how='left' )
test = pd.merge(test, merfeat,on='card_id', how='left' )

In [35]:
train

       first_active_month  ... mer_category_2_std
0              2017-06-01  ...           0.411098
1              2017-01-01  ...           0.000000
2              2016-08-01  ...           1.271283
3              2017-09-01  ...           1.442312
4              2017-11-01  ...           1.262483
...                   ...  ...                ...
201912         2017-09-01  ...           1.003384
201913         2015-10-01  ...           0.000000
201914         2017-08-01  ...           0.905470
201915         2016-07-01  ...           0.000000
201916         2017-07-01  ...           0.751905

[201917 rows x 224 columns]

In [36]:
test

       first_active_month  ... mer_category_2_std
0              2017-04-01  ...           0.000000
1              2017-01-01  ...           0.698465
2              2017-08-01  ...           1.407463
3              2017-12-01  ...           0.000000
4              2015-12-01  ...           0.708867
...                   ...  ...                ...
123618         2017-10-01  ...           0.000000
123619         2017-09-01  ...           0.000000
123620         2016-09-01  ...           1.386334
123621         2017-06-01  ...           0.600469
123622         2016-10-01  ...           0.000000

[123623 rows x 223 columns]

In [37]:
train.to_csv('FINAL_TRAIN_M.csv')
test.to_csv('FINAL_TEST_M.csv')