<a href="https://colab.research.google.com/github/human-ai2025/Elo-Merchant-Recommendation/blob/master/Preprocessing%20and%20Feature%20Engineering/Preprocessing_ModelBased.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing the libraries

In [51]:
#Import Libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import gc
from contextlib import contextmanager
from pandas.core.common import SettingWithCopyWarning
import datetime
import time
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import mode
import pickle
from sklearn.linear_model import LogisticRegression

## Mounting Drive

In [2]:
#Mounting drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Set up the path

In [ ]:
%cd /content/drive/MyDrive/data

/content/drive/MyDrive/data

### View Current Items in the folder

In [ ]:
!ls

## Helper Functions

### Timer

In [3]:
#refer:-https://www.youtube.com/watch?v=vOMtQ4ocMGI
@contextmanager
def timer(title):
    """ used to calculate time for each function"""
    t0 = time.time()
    yield
    print("{} - done in {:.000f}s".format(title, time.time() - t0))

### Memory Reduction

In [70]:

#https://www.kaggle.com/fabiendaniel/elo-world
#Function to load data into pandas and reduce memory usage

def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    #loop for alll the columns in the dataframe 
    for col in df.columns:
        #get the datatype of the column
        col_type = df[col].dtypes
        #if the data type is numeric then only start changing the datatype
        #as it isnt much helpful for other data types 
        if col_type in numerics:
            #stores the min value of the column 
            c_min = df[col].min()
            #stores the maximum value of the column
            c_max = df[col].max()
            #for int type numerics
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            #for float type numerics 
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

## Imputation

### Problem Summary 
1. There are two main datasets that contain the card id and the target variable loyality score to predict - Train and Test
2. There are two datasets that contain informations about all the transactions buying from different merchants - Historical Transations and New merchants transactions. 
3. There is 1 dataset that contains informations about all the Merchants - Merchant

If we need to prepare a dataset for machine learning we need to fix missing values, and we can fix missing values by applying machine learning to that dataset! If we consider a column with missing data as our target variable, and existing columns with complete data as our predictor variables, then we may construct a machine learning model using complete records as our train and test datasets and the records with incomplete data as our generalization target

### Train and Test
1. From Eda we saw that there is no null value in train or test so no imputation required

### New Merchants Transactions Data
1. In New Merchant Transactions we saw that there are columns with missing values such as category 3, category 2 and merchant id

In [71]:
def preprocessing_new_mer_transactions(nrows = None):

    """
    FUNCTION:
          PERFORMS THE IMPUTATIONS FOR THE TRANSACTIONS DATA 
          IT HANDLES MISSING VALUES 
          IT HANDLES MISSING VALUES BY MODEL IMPUTATIONS 
          IT DOES MAPPING OF CATEGORICAL DATA TO NUMERICAL 

    ARGS:
          NUM_ROWS: TO LOAD THE NUMBER OF ROWS FOR THE DATAFRAME(DEBUGGING)
          DEFAULT IS NONE

    RETURNS:
          THE MODIFIED DATA FRAME WITH IMPUTATIONS 

    REFER:-https://medium.com/towards-artificial-intelligence/handling-missing-data-for-advanced-machine-learning-b6eb89050357
    """

    #load the dataset 
    df = pd.read_csv('/content/drive/MyDrive/data/new_merchant_transactions.csv', nrows=nrows)


    print(df.isna().sum())

    #category 2 and 3 have missing values and we will handle them via model based impuation 

    #creating a dataframe 
    temp = pd.DataFrame()

    #get the card id
    temp['card_id'] = df['card_id']

    #get the merchant id
    temp['merchant_id'] = df['merchant_id']

    #get the purchase date
    temp['purchase_date'] = df['purchase_date']

    #drop the columns from the new merchant data frame 
    df.drop(['card_id', 'merchant_id', 'purchase_date'], axis=1, inplace=True)

    gc.collect()

    #store all the columns as features 
    feat = df.columns

    #print the dataframe 
    print(df.sample(10))

    # having missing values 
    cols = ['category_2', 'category_3']

    #label encode the variables
    df['authorized_flag'] = df['authorized_flag'].map({'Y': 1, 'N': 0})
    df['category_1'] = df['category_1'].map({'Y': 1, 'N': 0})
    df['category_3'] = df['category_3'].map({'A': 0, 'B': 1,'C': 2})

    print(df.sample(10))

    #list to hold the null values
    list_no_nan = []

    #select only columns which doesn't have any null values
    for c in feat: # from all the features in the dataframe 
      if c not in cols: #cols have missing value 
        list_no_nan.append(c)

    #create a test set by selecting only rows which are having null values
    #we will predict the values of categority 2
    test = df[df['category_2'].isna()]

    #create train set by selecting rows which doesn't have any null values
    train = df.dropna()
    
    df_name = 'new_mer '
    #fit the classifier to the train data
    clf_name = df_name + 'LR1'
    print("[INFO] NAME OF CLF ",clf_name )
    clf_name = LogisticRegression()

    # fit on data 
    # list no nan doesnot have category 2 and 3, we need to predict the values of 
    # we need to predict the values of category 2 here 
    # so we train on all the data having no null values and we have to predict the category 2 here 
    # in train category 2 we have no null value 
    clf_name.fit(train[list_no_nan], train['category_2'])

    #save the model in pickel 
    pickle.dump(clf_name, open('clf_name.sav', 'wb'))

    print("[INFO] Imputing Categorical 2 values ....")
    #make prediction only for the rows with null value
    # so now to ake a predictinon we had made a test set containing the rows where 
    # category 2 has na values 
    # so we will try to predict the na values from the trained model to make predictions 

    df.loc[df['category_2'].isna(), 'category_2'] = clf_name.predict(test[list_no_nan])

    # print the dataframe 
    print(df.sample(10))


    # Now the same way for category 3 variable as we did for category 2
    test = df[df['category_3'].isna()]
    train = df.dropna()

    clf_name = df_name + 'LR2'
    print("[INFO] NAME OF CLF ",clf_name )
    clf_name = LogisticRegression()
    clf_name.fit(train[list_no_nan], train['category_3'])
    #save the model in pickel
    pickle.dump(clf_name, open('clf_name.sav', 'wb'))

    print("[INFO] Imputing Categorical 3 values ....")
    df.loc[df['category_3'].isna(), 'category_3'] = clf_name.predict(test[list_no_nan])

    print(df.sample(10))

    df['card_id'] = temp['card_id']
    df['merchant_id'] = temp['merchant_id']
    df['purchase_date'] = temp['purchase_date']

    print(df.isna().sum())

    #FILL MISSING MERCHANT IDS 
    df['merchant_id'].fillna('M_ID_0000000000', inplace=True)

    print(df.isna().sum())

    # reduce memory usage
    df = reduce_mem_usage(df)


    return df

### Historical Transactions data 
1. In Historical Transactions data we saw that there are columns with missing values such as category 3, category 2 and merchant id

In [72]:
def preprocessing_hist_transactions(nrows = None):

    """
    FUNCTION:
          PERFORMS THE IMPUTATIONS FOR THE TRANSACTIONS DATA 
          IT HANDLES MISSING VALUES 
          IT HANDLES MISSING VALUES BY MODEL IMPUTATIONS 
          IT DOES MAPPING OF CATEGORICAL DATA TO NUMERICAL 

    ARGS:
           
          NUM_ROWS: TO LOAD THE NUMBER OF ROWS FOR THE DATAFRAME(DEBUGGING)
          DEFAULT IS NONE

    RETURNS:
          THE MODIFIED DATA FRAME WITH IMPUTATIONS 

    REFER:-https://medium.com/towards-artificial-intelligence/handling-missing-data-for-advanced-machine-learning-b6eb89050357
    """

    #load the dataset 
    df = pd.read_csv('/content/drive/MyDrive/data/historical_transactions.csv', nrows=None)

    print(df.isna().sum())

    #category 2 and 3 have missing values and we will handle them via model based impuation 

    #creating a dataframe 
    temp = pd.DataFrame()

    #get the card id
    temp['card_id'] = df['card_id']

    #get the merchant id
    temp['merchant_id'] = df['merchant_id']

    #get the purchase date
    temp['purchase_date'] = df['purchase_date']

    #drop the columns from the new merchant data frame 
    df.drop(['card_id', 'merchant_id', 'purchase_date'], axis=1, inplace=True)

    gc.collect()

    #store all the columns as features 
    feat = df.columns

    #print the dataframe 
    print(df.sample(10))

    # having missing values 
    cols = ['category_2', 'category_3']

    #label encode the variables(as int caused a lot of trouble)
    df['authorized_flag'] = df['authorized_flag'].map({'Y': 1, 'N': 0})
    df['category_1'] = df['category_1'].map({'Y': 1, 'N': 0})
    df['category_3'] = df['category_3'].map({'A': 0, 'B': 1,'C': 2})

    print(df.sample(10))

    #list to hold the null values
    list_no_nan = []

    #select only columns which doesn't have any null values
    for c in feat: # from all the features in the dataframe 
      if c not in cols: #cols have missing value 
        list_no_nan.append(c)

    #create a test set by selecting only rows which are having null values
    #we will predict the values of categority 2
    test = df[df['category_2'].isna()]

    #create train set by selecting rows which doesn't have any null values
    train = df.dropna()
    
    df_name = 'hist '
    #fit the classifier to the train data
    clf_name = df_name + 'LR1'
    print("[INFO] NAME OF CLF ",clf_name )
    clf_name = LogisticRegression()

    # fit on data 
    # list no nan doesnot have category 2 and 3, we need to predict the values of 
    # we need to predict the values of category 2 here 
    # so we train on all the data having no null values and we have to predict the category 2 here 
    # in train category 2 we have no null value 
    clf_name.fit(train[list_no_nan], train['category_2'])

    #save the model in pickel 
    pickle.dump(clf_name, open('clf_name.sav', 'wb'))

    print("[INFO] Imputing Categorical 2 values ....")
    #make prediction only for the rows with null value
    # so now to ake a predictinon we had made a test set containing the rows where 
    # category 2 has na values 
    # so we will try to predict the na values from the trained model to make predictions 

    df.loc[df['category_2'].isna(), 'category_2'] = clf_name.predict(test[list_no_nan])

    # print the dataframe 
    print(df.sample(10))


    # Now the same way for category 3 variable as we did for category 2
    test = df[df['category_3'].isna()]
    train = df.dropna()

    clf_name = df_name + 'LR2'
    print("[INFO] NAME OF CLF ",clf_name )
    clf_name = LogisticRegression()
    clf_name.fit(train[list_no_nan], train['category_3'])
    #save the model in pickel
    pickle.dump(clf_name, open('clf_name.sav', 'wb'))

    print("[INFO] Imputing Categorical 3 values ....")
    #loads nly the category 3 nan values 
    df.loc[df['category_3'].isna(), 'category_3'] = clf_name.predict(test[list_no_nan])

    print(df.sample(10))

    df['card_id'] = temp['card_id']
    df['merchant_id'] = temp['merchant_id']
    df['purchase_date'] = temp['purchase_date']

    print(df.isna().sum())

    #FILL MISSING MERCHANT IDS 
    df['merchant_id'].fillna('M_ID_0000000000', inplace=True)

    print(df.isna().sum())

    # reduce memory usage
    df = reduce_mem_usage(df)


    return df

### Merchants Data
1. In Merchants data we saw that average_sales_lag3, average_sales_lag6, average_sales_lag12 and category 2 have missing values

In [73]:

def merchant_preprocessing(num_rows=None):
    """
    FUNCTION:
          PERFORMS THE IMPUTATIONS FOR THE TRANSACTIONS DATA 
          IT HANDLES MISSING VALUES 
          IT DOES MAPPING OF CATEGORICAL DATA TO NUMERICAL
          IT HANDLES THE INF VALUES  
          PHASE 1 OF NUMERICAL (SALES)
          PHASE 2 OF CATEGORICAL (CATRGORY 2 )

    ARGS:
          NUM_ROWS: TO LOAD THE NUMBER OF ROWS FOR THE DATAFRAME(DEBUGGING)
          DEFAULT IS NONE
    
    RETURNS:
          THE MODIFIED DATA FRAME WITH IMPUTATIONS 

    REFER:-https://medium.com/towards-artificial-intelligence/handling-missing-data-for-advanced-machine-learning-b6eb89050357
    """

    import pickle
    from sklearn.linear_model import LogisticRegression
    from sklearn.neighbors import KNeighborsRegressor

    df = pd.read_csv('/content/drive/MyDrive/data/merchants.csv', nrows=num_rows)


    features_inf = ["avg_purchases_lag3","avg_purchases_lag6","avg_purchases_lag12"]
    for col in features_inf:
        df.loc[df[col]==np.inf,col] = max(df.loc[df[col]!=np.inf,col])


    #creating a temporary dataframe 
    temp = pd.DataFrame()
    temp['merchant_id'] = df['merchant_id']

    # we use KNN for numerical and logisticregrssion for categorical 
    temp['category_2'] = df['category_2']

    #category 2 is needed for 2nd round for logistic regression
    # merchant id is not useful
    df.drop(['merchant_id', 'category_2'], axis=1, inplace=True)

    #categorical to numerical (do not do as int or face the wrath of nan error )
    df['category_1'] = df['category_1'].map({'Y': 0, 'N': 1})
    df['most_recent_sales_range'] = df['most_recent_sales_range'].map({'A': 0, 'B': 1,'C': 2, 'D': 3,'E' : 4})
    df['most_recent_purchases_range'] = df['most_recent_purchases_range'].map({'A': 0, 'B': 1,'C': 2, 'D': 3,'E' : 4})
    df['category_4'] = df['category_4'].map({'Y': 0, 'N': 1, 2 : 2})

    features = df.columns
    #sales have missing values 
    cols = ['avg_sales_lag3','avg_sales_lag6','avg_sales_lag12']
    list_no_nan = []

    #get the features not to predict and having no nan 
    for c in features:
      if c not in cols:
        list_no_nan.append(c)

    #have all nan as we need to predict this (avg_sales_lag3)
    test = df[df['avg_sales_lag3'].isna()]
    #have no nan to train 
    train = df.dropna()

    #initilize for knn 
    knn_sal_3 = KNeighborsRegressor(n_neighbors=5)

    #fit on data 
    #train on the feeatures and to predict on sales 
    knn_sal_3.fit(train[list_no_nan], train['avg_sales_lag3'])
    #fill the missing values 
    df.loc[df['avg_sales_lag3'].isna(), 'avg_sales_lag3'] = knn_sal_3.predict(test[list_no_nan])
    #save the model 
    pickle.dump(knn_sal_3, open('knn_sal_3.sav', 'wb'))

    #have all nan as we need to predict this (avg_sales_lag6)
    test = df[df['avg_sales_lag6'].isna()]
    train = df.dropna()

    #initilize the model
    knn_sal_6 = KNeighborsRegressor(n_neighbors=5)
    #fit the model 
    knn_sal_6.fit(train[list_no_nan], train['avg_sales_lag6'])
    #fill the missing values 
    df.loc[df['avg_sales_lag6'].isna(), 'avg_sales_lag6'] = knn_sal_6.predict(test[list_no_nan])
    #save the model 
    pickle.dump(knn_sal_6, open('knn_sal_6.sav', 'wb'))

    #have all nan as we need to predict this (avg_sales_lag12)
    test = df[df['avg_sales_lag12'].isna()]
    train = df.dropna()

    #initilize the model
    knn_sal_12 = KNeighborsRegressor(n_neighbors=5)
    #fit on data 
    knn_sal_12.fit(train[list_no_nan], train['avg_sales_lag12'])
    #fill the missing values 
    df.loc[df['avg_sales_lag12'].isna(), 'avg_sales_lag12'] = knn_sal_12.predict(test[list_no_nan])
    #save the model 
    pickle.dump(knn_sal_12, open('knn_sal_12.sav', 'wb'))






    #for category 2
    df['category_2'] = temp['category_2']

    feat = df.columns
    cols = ['category_2']
    list_no_nan = []

    #get the features not to predict and having no nan 
    for c in feat:
      if c not in cols:
        list_no_nan.append(c)

    #get all the missing values 
    test = df[df['category_2'].isna()]
    # have all the good values 
    train = df.dropna()

    LR_cat_2 = LogisticRegression()
    LR_cat_2.fit(train[list_no_nan], train['category_2'])
    df.loc[df['category_2'].isna(), 'category_2'] = LR_cat_2.predict(test[list_no_nan])
    pickle.dump(LR_cat_2, open('LR_cat_2.sav', 'wb'))

    df['merchant_id'] = temp['merchant_id']

    # reduce memory usage
    df = reduce_mem_usage(df)

    return df

## Main Function

In [74]:
def main(debug, csvConvert = True):
  if debug is True:
    num_rows = 1000
  else:
    num_rows = None
  with timer('new Merchants'):
    new_merchants = preprocessing_new_mer_transactions(num_rows)
  with timer('hist trans'):
    hist_transactions = preprocessing_hist_transactions(num_rows)
  with timer('merchants'):
    merchants = merchant_preprocessing(num_rows)

  if csvConvert == True:
    with timer('To CSV '):
      new_merchants.to_csv('newMerchants_trans_preprocessed_model_imputation.csv', index=False)
      hist_transactions.to_csv('hist_trans_preprocessed_model_imputation.csv', index=False)
      merchants.to_csv('merchants_preprocessed_model_imputation.csv', index=False)

  return new_merchants, hist_transactions, merchants

In [75]:
if __name__ == "__main__": 
  a, b, c = main(False)

authorized_flag              0
card_id                      0
city_id                      0
category_1                   0
installments                 0
category_3               55922
merchant_category_id         0
merchant_id              26216
month_lag                    0
purchase_amount              0
purchase_date                0
category_2              111745
state_id                     0
subsector_id                 0
dtype: int64
        authorized_flag  city_id category_1  ...  category_2 state_id  subsector_id
1886673               Y      310          N  ...         5.0        5            27
6833                  Y       56          N  ...         5.0       20            37
323010                Y      321          N  ...         1.0       12            27
1034649               Y      161          N  ...         3.0        3            25
825055                Y       69          N  ...         1.0        9            27
1102361               Y       57          N  ...         5.0        5            33
1685891               Y       12          N  ...         5.0        5            29
638648                Y       -1          N  ...         NaN       -1            15
1469370               Y      104          N  ...         1.0       16            37
1289325               Y      171          N  ...         5.0       21            27

[10 rows x 11 columns]
         authorized_flag  city_id  ...  state_id  subsector_id
1748185                1       17  ...        22            27
1824549                1       -1  ...        -1             8
1600974                1      160  ...        21             7
1625336                1       -1  ...        -1            29
1073935                1      245  ...        14             1
603927                 1       17  ...        22            21
1430765                1       57  ...         5            37
842167                 1      149  ...         9            19
1938131                1       88  ...        16            21
1331421                1        3  ...        16            34

[10 rows x 11 columns]
[INFO] NAME OF CLF  new_mer LR1
[INFO] Imputing Categorical 2 values ....
         authorized_flag  city_id  ...  state_id  subsector_id
1094438                1       60  ...        16            29
135737                 1      191  ...         9            19
1389445                1      247  ...         5            37
785055                 1      250  ...         9            19
209724                 1        4  ...        10            33
953222                 1       87  ...        11            16
247595                 1      333  ...        21            37
1553560                1       -1  ...        -1            29
1527530                1      232  ...        13            37
914853                 1      143  ...         5            34

[10 rows x 11 columns]
[INFO] NAME OF CLF  new_mer LR2
[INFO] Imputing Categorical 3 values ....
         authorized_flag  city_id  ...  state_id  subsector_id
963798                 1      283  ...         9            37
365752                 1       69  ...         9            39
936101                 1      158  ...        15            29
1040913                1       51  ...        16            41
612467                 1      331  ...        16            16
1155749                1      299  ...         9            33
774172                 1       30  ...        17            21
1202784                1      274  ...         9             7
1091944                1      126  ...         4            29
1105421                1       69  ...         9            33

[10 rows x 11 columns]
authorized_flag             0
city_id                     0
category_1                  0
installments                0
category_3                  0
merchant_category_id        0
month_lag                   0
purchase_amount             0
category_2                  0
state_id                    0
subsector_id                0
card_id                     0
merchant_id             26216
purchase_date               0
dtype: int64
authorized_flag         0
city_id                 0
category_1              0
installments            0
category_3              0
merchant_category_id    0
month_lag               0
purchase_amount         0
category_2              0
state_id                0
subsector_id            0
card_id                 0
merchant_id             0
purchase_date           0
dtype: int64
Mem. usage decreased to 76.76 Mb (63.4% reduction)
new Merchants - done in 201s
authorized_flag               0
card_id                       0
city_id                       0
category_1                    0
installments                  0
category_3               178159
merchant_category_id          0
merchant_id              138481
month_lag                     0
purchase_amount               0
purchase_date                 0
category_2              2652864
state_id                      0
subsector_id                  0
dtype: int64
         authorized_flag  city_id  ... state_id  subsector_id
11844015               Y       69  ...        9            33
13442499               Y       69  ...        9             1
5580609                N       69  ...        9             7
18354396               Y      308  ...       16            33
8386987                Y      220  ...        9            34
25828358               Y      162  ...       20            19
21580822               Y       21  ...        9            19
18238128               Y       69  ...        9            37
16999638               Y      107  ...        4            33
1330415                Y       -1  ...       -1            27

[10 rows x 11 columns]
          authorized_flag  city_id  ...  state_id  subsector_id
931687                  1       69  ...         9             7
14144975                1       62  ...         9            34
4688693                 1       -1  ...        -1            37
15423686                1      333  ...        21            37
7387127                 1      165  ...        15            33
24835904                1      143  ...         5            29
6523933                 1       44  ...         5            37
27290004                1       25  ...         7            34
17130821                1      137  ...        19            37
15676090                1      169  ...        20            19

[10 rows x 11 columns]
[INFO] NAME OF CLF  hist LR1
[INFO] Imputing Categorical 2 values ....
          authorized_flag  city_id  ...  state_id  subsector_id
4499797                 1      213  ...         9            34
17433165                1      125  ...        16            18
4852528                 1       69  ...         9            38
10341880                1        4  ...        10            33
401291                  1      283  ...         9            33
25792782                1       -1  ...        -1            22
12587393                1      282  ...        18            37
2856740                 1      282  ...        18            37
11599658                1      231  ...         9            20
6318351                 1      333  ...         9            30

[10 rows x 11 columns]
[INFO] NAME OF CLF  hist LR2
[INFO] Imputing Categorical 3 values ....
          authorized_flag  city_id  ...  state_id  subsector_id
9027441                 1       87  ...        11            12
8950535                 1       69  ...         9            37
24337329                1      338  ...        19            29
5211171                 1       69  ...         9            20
224116                  1      117  ...        13            19
25497559                1       94  ...        19            37
18117122                1      294  ...         9            19
14722675                1      158  ...        15            34
19146090                1      171  ...        21            33
4010464                 1      221  ...        24            21

[10 rows x 11 columns]
authorized_flag              0
city_id                      0
category_1                   0
installments                 0
category_3                   0
merchant_category_id         0
month_lag                    0
purchase_amount              0
category_2                   0
state_id                     0
subsector_id                 0
card_id                      0
merchant_id             138481
purchase_date                0
dtype: int64
authorized_flag         0
city_id                 0
category_1              0
installments            0
category_3              0
merchant_category_id    0
month_lag               0
purchase_amount         0
category_2              0
state_id                0
subsector_id            0
card_id                 0
merchant_id             0
purchase_date           0
dtype: int64
Mem. usage decreased to 1193.84 Mb (61.6% reduction)
hist trans - done in 2648s
Mem. usage decreased to 15.64 Mb (72.2% reduction)
merchants - done in 34s
To CSV  - done in 187s

In [76]:
!ls

clf_name.sav
drive
hist_trans_preprocessed_model_imputation.csv
knn_sal_12.sav
knn_sal_3.sav
knn_sal_6.sav
LR_cat_2.sav
merchants_preprocessed_model_imputation.csv
new_merchant_authorized_flag_enc.npy
new_merchant_category_1_enc.npy
newMerchants_trans_preprocessed_model_imputation.csv
sample_data

In [77]:
a

         authorized_flag  city_id  ...      merchant_id        purchase_date
0                      1      107  ...  M_ID_b0c793002c  2018-03-11 14:57:36
1                      1      140  ...  M_ID_88920c89e8  2018-03-19 18:53:37
2                      1      330  ...  M_ID_ad5237ef6b  2018-04-26 14:08:44
3                      1       -1  ...  M_ID_9e84cda3b1  2018-03-07 09:43:21
4                      1       -1  ...  M_ID_3c86fa3831  2018-03-22 21:07:53
...                  ...      ...  ...              ...                  ...
1963026                1      142  ...  M_ID_7754b67f3b  2018-04-06 14:36:52
1963027                1      158  ...  M_ID_da063195b7  2018-03-07 13:19:18
1963028                1       69  ...  M_ID_9a9ccb6544  2018-03-05 12:04:56
1963029                1      130  ...  M_ID_40c28d596f  2018-03-09 14:47:05
1963030                1       19  ...  M_ID_d855771cd9  2018-04-11 07:59:46

[1963031 rows x 14 columns]

In [78]:
a.isna().sum()

authorized_flag         0
city_id                 0
category_1              0
installments            0
category_3              0
merchant_category_id    0
month_lag               0
purchase_amount         0
category_2              0
state_id                0
subsector_id            0
card_id                 0
merchant_id             0
purchase_date           0
dtype: int64

In [79]:
b

          authorized_flag  city_id  ...      merchant_id        purchase_date
0                       1       88  ...  M_ID_e020e9b302  2017-06-25 15:33:07
1                       1       88  ...  M_ID_86ec983688  2017-07-15 12:10:45
2                       1       88  ...  M_ID_979ed661fc  2017-08-09 22:04:29
3                       1       88  ...  M_ID_e6d5ae8ea6  2017-09-02 10:06:26
4                       1       88  ...  M_ID_e020e9b302  2017-03-10 01:14:19
...                   ...      ...  ...              ...                  ...
29112356                1       -1  ...  M_ID_edd92b6720  2017-01-20 08:52:04
29112357                1       -1  ...  M_ID_edd92b6720  2017-02-20 04:40:50
29112358                1        3  ...  M_ID_9cdcfe8673  2017-12-26 18:37:51
29112359                1      331  ...  M_ID_1a75f94f92  2017-11-24 14:18:15
29112360                1      331  ...  M_ID_1a75f94f92  2017-10-26 14:09:40

[29112361 rows x 14 columns]

In [80]:
b.isna().sum()

authorized_flag         0
city_id                 0
category_1              0
installments            0
category_3              0
merchant_category_id    0
month_lag               0
purchase_amount         0
category_2              0
state_id                0
subsector_id            0
card_id                 0
merchant_id             0
purchase_date           0
dtype: int64

In [81]:
c

        merchant_group_id  merchant_category_id  ...  category_2      merchant_id
0                    8353                   792  ...         1.0  M_ID_838061e48c
1                    3184                   840  ...         1.0  M_ID_9339d880ad
2                     447                   690  ...         5.0  M_ID_e726bbae1e
3                    5026                   792  ...         1.0  M_ID_a70e9c5f81
4                    2228                   222  ...         1.0  M_ID_64456c37ce
...                   ...                   ...  ...         ...              ...
334691               1145                   705  ...         1.0  M_ID_1f4773aa76
334692                 35                   544  ...         1.0  M_ID_725a60d404
334693                 35                   561  ...         5.0  M_ID_f2045dd267
334694                 35                   511  ...         1.0  M_ID_9139332ccc
334695                 35                   606  ...         1.0  M_ID_cd2c0b07e9

[334696 rows x 22 columns]

In [82]:
c.isna().sum()

merchant_group_id              0
merchant_category_id           0
subsector_id                   0
numerical_1                    0
numerical_2                    0
category_1                     0
most_recent_sales_range        0
most_recent_purchases_range    0
avg_sales_lag3                 0
avg_purchases_lag3             0
active_months_lag3             0
avg_sales_lag6                 0
avg_purchases_lag6             0
active_months_lag6             0
avg_sales_lag12                0
avg_purchases_lag12            0
active_months_lag12            0
category_4                     0
city_id                        0
state_id                       0
category_2                     0
merchant_id                    0
dtype: int64

#References:
1. https://heartbeat.fritz.ai/data-handling-scenarios-part-2-working-with-missing-values-in-a-dataset-34b758cfc9fa
2. https://medium.com/towards-artificial-intelligence/handling-missing-data-for-advanced-machine-learning-b6eb89050357