<a href="https://colab.research.google.com/github/human-ai2025/Elo-Merchant-Recommendation/blob/master/Preprocessing%20and%20Feature%20Engineering/mean_median_based_imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libraries

In [ ]:
#Import Libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import gc
from contextlib import contextmanager
from pandas.core.common import SettingWithCopyWarning
import datetime
import time
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import mode

### Mount the drive

In [ ]:
#Mounting drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Setup the current path

In [ ]:
!ls

drive  sample_data

In [ ]:
#Setting up worksapce directory 
%cd /content/drive/MyDrive/data

/content/drive/MyDrive/data

In [ ]:
!ls

 augmented_test.csv		  LR_cat_2.sav
 augmented_test_try1.csv	  mer_authorized_flag_enc.npy
 augmented_train.csv		  mer_category_1_enc.npy
 augmented_train_try1.csv	  merchant_category_1_enc.npy
 clf_cat2.sav			  merchant_category_4_enc.npy
 clf_cat3.sav			  merchant_most_recent_purchases_range_enc.npy
 clf_name.sav			  merchant_most_recent_sales_range_enc.npy
'Data Dictionary.xlsx'		  merchants.csv
 Data_Dictionary.xlsx		  merged_transactions_with_merchants.csv
 file_name.csv			  new_merchant_authorized_flag_enc.npy
 hist_authorized_flag_enc.npy	  new_merchant_category_1_enc.npy
 hist_category_1_enc.npy	  new_merchant_df.pkl
 hist_category_3_enc.npy	  new_merchant_transactions.csv
 historical_transactions.csv	  sample_submission.csv
 historical_transactions_df.pkl   test.csv
 knn_sal_12.sav			  train.csv
 knn_sal_3.sav			  transactions_raw_merged.csv
 knn_sal_6.sav			  transactions_refined_1_merged_WON.csv

## Timer

In [ ]:
#refer:-https://www.youtube.com/watch?v=vOMtQ4ocMGI
@contextmanager
def timer(title):
    """ used to calculate time for each function"""
    t0 = time.time()
    yield
    print("{} - done in {:.000f}s".format(title, time.time() - t0))

## Memory Reduction

In [ ]:
#https://www.kaggle.com/fabiendaniel/elo-world
#Function to load data into pandas and reduce memory usage

def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    #loop for alll the columns in the dataframe 
    for col in df.columns:
        #get the datatype of the column
        col_type = df[col].dtypes
        #if the data type is numeric then only start changing the datatype
        #as it isnt much helpful for other data types 
        if col_type in numerics:
            #stores the min value of the column 
            c_min = df[col].min()
            #stores the maximum value of the column
            c_max = df[col].max()
            #for int type numerics
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            #for float type numerics 
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

## FE on Train Test

In [ ]:
def train_test(num_rows=None):

    """
   FUNCTION:
        MERGE THE TRAIN AND TEST AND DOES SOME BASIC FEATURE ENGINEERING 

   ARGS:
        NUM_ROWS: TO LOAD THE NUMBER OF ROWS FOR THE DATAFRAME(DEBUGGING)
        DEFAULT IS NONE
  
   RETURNS:
        THE MERGED DATAFRAME OF TRAIN AND TEST ALONG WITH BASIC FEATURE ENGINEERING 

    """

    # load csv
    train_df = pd.read_csv('/content/drive/MyDrive/data/train.csv', index_col=['card_id'], nrows=num_rows)
    test_df = pd.read_csv('/content/drive/MyDrive/data/test.csv', index_col=['card_id'], nrows=num_rows)

    print("Train samples: {}, test samples: {}".format(len(train_df), len(test_df)))
    OUTLIER_THRESHOLD = 30
    # Create an outliers column set to 1 for
    train_df['outliers'] = np.where(train_df['target'] < OUTLIER_THRESHOLD, 1, 0)

    # set target as nan
    test_df['target'] = np.nan

    # merge
    df = train_df.append(test_df)

    del train_df, test_df
    gc.collect()

    # to datetime
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])

    # datetime features
    df['quarter'] = df['first_active_month'].dt.quarter
    df['elapsed_time'] = (datetime.datetime.today() - df['first_active_month']).dt.days
    df['quarter_first_active_month'] = df['first_active_month'].dt.quarter
    df['first_active_month_diff_from_today'] = (datetime.datetime.today() - df['first_active_month']).dt.days

    for col in ['feature_1', 'feature_2', 'feature_3']:
        order_label = df.groupby(col)['outliers'].mean()
        df[col] = df[col].map(order_label)

    # Some basic statistics transformations over the feature_i columns
    df['feature_sum'] = df['feature_1'] + df['feature_2'] + df['feature_3']
    df['feature_mean'] = df['feature_sum'] / 3
    df['feature_max'] = df[['feature_1', 'feature_2', 'feature_3']].max(axis=1)
    df['feature_min'] = df[['feature_1', 'feature_2', 'feature_3']].min(axis=1)
    df['feature_std'] = df[['feature_1', 'feature_2', 'feature_3']].std(axis=1)

    return df

## Imputations on transactions data

In [ ]:
def transactions_imputations(df_name='hist',nrows = None):

    """
    FUNCTION:
          PERFORMS THE IMPUTATIONS FOR THE TRANSACTIONS DATA 
          IT HANDLES MISSING VALUES 
          IT DOES MAPPING OF CATEGORICAL DATA TO NUMERICAL 

    ARGS:
          DF:- THE DATAFRAME THAT NEEDS TO HAVE IMPUTATIONS 
          DEFAULT IS HISTORICAL TRANSACTIONS 
          NUM_ROWS: TO LOAD THE NUMBER OF ROWS FOR THE DATAFRAME(DEBUGGING)
          DEFAULT IS NONE

    RETURNS:
          THE MODIFIED DATA FRAME WITH IMPUTATIONS 
    """

    if df_name == 'hist':
      df = pd.read_csv('/content/drive/MyDrive/data/historical_transactions.csv', nrows=nrows)
    else:
      df = pd.read_csv('/content/drive/MyDrive/data/new_merchant_transactions.csv', nrows=nrows)
    

    # fillna
    df['category_2'].fillna(6, inplace=True)
    df['category_3'].fillna(3, inplace=True)
    df['merchant_id'].fillna('M_ID_00a6ca8a8a', inplace=True)
    df['installments'].replace(-1, np.nan, inplace=True)
    df['installments'].replace(999, np.nan, inplace=True)
    df['installments'].fillna(df['installments'].mode()[0], inplace=True)



    # mapping categorical to numerical 
    df['authorized_flag'] = df['authorized_flag'].map({'Y': 1, 'N': 0}).astype(int)
    df['category_1'] = df['category_1'].map({'Y': 1, 'N': 0}).astype(int)
    df['category_3'] = df['category_3'].map({'A': 0, 'B': 1,'C': 2, 3:3}).astype(int)
    df['category_2'] = df['category_2'].map({1.0 : 1, 2.0 : 2, 3.0 : 3,4.0 : 4, 5.0 : 5, 6 : 6}).astype(int)
    #removing purchase amount outliner    
    df['purchase_amount'] = df['purchase_amount'].apply(lambda x: min(x, 0.8))
    df['price'] = df['purchase_amount'] / (df['installments'] + 0.001) #some epsilone for 0  installments 

    # reduce memory usage
    df = reduce_mem_usage(df)

    return df

## Imputations on Merchant Data

In [ ]:
def merchant_imputations(num_rows=None):
    """
    FUNCTION:
          PERFORMS THE IMPUTATIONS FOR THE TRANSACTIONS DATA 
          IT HANDLES MISSING VALUES 
          IT DOES MAPPING OF CATEGORICAL DATA TO NUMERICAL
          IT HANDLES THE INF VALUES  

    ARGS:
          NUM_ROWS: TO LOAD THE NUMBER OF ROWS FOR THE DATAFRAME(DEBUGGING)
          DEFAULT IS NONE
    
    RETURNS:
          THE MODIFIED DATA FRAME WITH IMPUTATIONS 
    """

    df = pd.read_csv('/content/drive/MyDrive/data/merchants.csv', nrows=num_rows)

    #drop duplicate merchant id
    df.drop_duplicates(subset=['merchant_id'], keep='last')

    df['category_1'] = df['category_1'].fillna(2)
    df['category_1'] = df['category_1'].map({'Y': 0, 'N': 1,2:2}).astype(int)

    #for most_recent_sales_range_merchants_t_merchants_t and most_recent_purchases_range_merchants_t_merchants_t
    #it has A,B,C,D,E and null values 
    df['most_recent_sales_range'] = df['most_recent_sales_range'].fillna(5)
    df['most_recent_purchases_range'] = df['most_recent_purchases_range'].fillna(5)
    df['most_recent_sales_range'] = df['most_recent_sales_range'].map({'A': 0, 'B': 1,'C': 2, 'D': 3,'E' : 4, 5 : 5}).astype(int)
    df['most_recent_purchases_range'] = df['most_recent_purchases_range'].map({'A': 0, 'B': 1,'C': 2, 'D': 3,'E' : 4, 5 : 5}).astype(int)
    

    #for category_4_merchants_t_merchants_t
    #it has Y,N and null values 
    df['category_4'] = df['category_4'].fillna(2)
    df['category_4'] = df['category_4'].map({'Y': 0, 'N': 1, 2 : 2}).astype(int)

    df['category_2'] = df['category_2'].fillna(6)
    df['category_2'] = df['category_2'].map({1.0 : 1, 2.0 : 2, 3.0 : 3,4.0 : 4, 5.0 : 5, 6 : 6}).astype(int)

    #for missing id we will use -1111 as filling value 
    #find the number of missing values 
    for col in df[['merchant_group_id','state_id',
                            'merchant_category_id','subsector_id','city_id']]:
                            df[col] = df[col].fillna(-1111)

    #imputing the inf values with max 
    # "avg_purchases_lag3","avg_purchases_lag6","avg_purchases_lag12"
    features_inf = ["avg_purchases_lag3","avg_purchases_lag6","avg_purchases_lag12"]
    for col in features_inf:
        df.loc[df[col]==np.inf,col] = max(df.loc[df[col]!=np.inf,col])
    
    # imputing the missing values with model 
    #'avg_sales_lag3','avg_sales_lag6','avg_sales_lag12'
    features_missing = ['avg_sales_lag3','avg_sales_lag6','avg_sales_lag12']
    for col in features_missing:
        df.loc[df[col]==np.inf,col] = max(df.loc[df[col]!=np.inf,col])
        df[col].fillna((df[col].mean()), inplace=True)

    df.columns = [col+"_merchants_t" if col!="merchant_id" else col for col in df.columns]

    # reduce memory usage
    df = reduce_mem_usage(df)

    return df

## Basic FE and Grouping on card id

In [ ]:
def group_on_card_id_withMer1(df):
    """
    FUNCTION:
            TO GROUP THE DATA ON CARD ID 
            BASIC DATE AND TIME FEATURE ENGINEERING  
            THIS INCLUDES MERCHANTS DATA TOO

    ARGS:
            DF:- THE DATAFRAME ON WHICH THE BASIC FEATURE ENGINEERING AND 
                  GROUPING ON CARD ID IS DONE 

    RETURNS:
            THE MODIFIED DATA FRAME 
    
    """

    #Some feature engineering on date and time  
    df['purchase_date'] = pd.to_datetime(df['purchase_date'])
    df['month'] = df['purchase_date'].dt.month
    df['day'] = df['purchase_date'].dt.day
    df['hour'] = df['purchase_date'].dt.hour
    df['weekofyear'] = df['purchase_date'].dt.weekofyear
    df['weekday'] = df['purchase_date'].dt.weekday
    df['weekend'] = (df['purchase_date'].dt.weekday >= 5).astype(int)
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']


      
    def mode(series):
        """Most common element in a series"""
        tmode = series.mode()
        if len(tmode) == 0:
            return np.nan
        else:
            return tmode[0]

    agg_fun = {
      
    #CATEGORICAL VALUES  
        
    "authorized_flag": ['sum', 'mean',mode],
    'category_1' : ['sum', 'mean',mode],
    'category_2' :['sum', 'mean',mode],
    'category_3' :['sum', 'mean',mode],
    'category_1_merchants_t' :['sum', 'mean',mode],
    'most_recent_sales_range_merchants_t' :['sum', 'mean',mode],
    'category_4_merchants_t' :['sum', 'mean',mode],
    'most_recent_purchases_range_merchants_t' :['sum', 'mean',mode],
    'category_2_merchants_t' :['sum', 'mean',mode],


    # ID VALUES 
    'city_id' : ['nunique',mode],
    'state_id' : ['nunique',mode],
    'subsector_id' : ['nunique',mode],
    'merchant_category_id' : ['nunique',mode],
    'merchant_id': ['nunique',mode],
    'merchant_group_id_merchants_t':['nunique',mode],
    'state_id_merchants_t':['nunique',mode],
    'merchant_category_id_merchants_t':['nunique',mode],
    'subsector_id_merchants_t':['nunique',mode],
    'city_id_merchants_t':['nunique',mode],


    #NUMERICAL 
    'month_lag' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'installments' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'purchase_amount' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'numerical_2_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_sales_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_purchases_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'active_months_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_sales_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_purchases_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_sales_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'avg_purchases_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'numerical_1_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'active_months_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'active_months_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    'active_months_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],

    #DATE TIME 
    'weekend': ['nunique', 'mean', 'min', 'max'],
    'weekday' : ['nunique', 'mean', 'min', 'max'],
    'hour': ['nunique', 'mean', 'min', 'max'],
    'weekofyear': ['nunique', 'mean', 'min', 'max'],
    'day': ['nunique', 'mean', 'min', 'max'],
    #Refer:-https://numpy.org/doc/stable/reference/generated/numpy.ptp.html
    'purchase_date' : [np.ptp, 'min', 'max'],
    'month' : ['sum', 'mean', 'nunique']

    }

    df = df.groupby("card_id",as_index=False).agg(agg_fun)
    print(df.card_id)

    # reduce memory usage
    df = reduce_mem_usage(df)

    return df

In [ ]:
def group_on_card_id_withOUTMer1(df):
    """
    FUNCTION:
            TO GROUP THE DATA ON CARD ID 
            BASIC DATE AND TIME FEATURE ENGINEERING  

    ARGS:
            DF:- THE DATAFRAME ON WHICH THE BASIC FEATURE ENGINEERING AND 
                  GROUPING ON CARD ID IS DONE 

    RETURNS:
            THE MODIFIED DATA FRAME 
    
    """

    #Some feature engineering on date and time  
    df['purchase_date'] = pd.to_datetime(df['purchase_date'])
    df['month'] = df['purchase_date'].dt.month
    df['day'] = df['purchase_date'].dt.day
    df['hour'] = df['purchase_date'].dt.hour
    df['weekofyear'] = df['purchase_date'].dt.weekofyear
    df['weekday'] = df['purchase_date'].dt.weekday
    df['weekend'] = (df['purchase_date'].dt.weekday >= 5).astype(int)
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']


      
    def mode(series):
        """Most common element in a series"""
        tmode = series.mode()
        if len(tmode) == 0:
            return np.nan
        else:
            return tmode[0]

    agg_fun = {
      
    #CATEGORICAL VALUES  
        
    "authorized_flag": ['sum', 'mean',mode],
    'category_1' : ['sum', 'mean',mode],
    'category_2' :['sum', 'mean',mode],
    'category_3' :['sum', 'mean',mode],
    #'category_1_merchants_t' :['sum', 'mean',mode],
    #'most_recent_sales_range_merchants_t' :['sum', 'mean',mode],
    #'category_4_merchants_t' :['sum', 'mean',mode],
    #'most_recent_purchases_range_merchants_t' :['sum', 'mean',mode],
    #'category_2_merchants_t' :['sum', 'mean',mode],


    # ID VALUES 
    'city_id' : ['nunique',mode],
    'state_id' : ['nunique',mode],
    'subsector_id' : ['nunique',mode],
    'merchant_category_id' : ['nunique',mode],
    'merchant_id': ['nunique',mode],
    #'merchant_group_id_merchants_t':['nunique',mode],
    #'state_id_merchants_t':['nunique',mode],
    #'merchant_category_id_merchants_t':['nunique',mode],
    #'subsector_id_merchants_t':['nunique',mode],
    #'city_id_merchants_t':['nunique',mode],


    #NUMERICAL 
    'month_lag' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'installments' : ['sum', 'mean', 'min', 'max', 'std','var'],
    'purchase_amount' : ['sum', 'mean', 'min', 'max', 'std','var'],
    #'numerical_2_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'avg_sales_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'avg_purchases_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'active_months_lag3_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'avg_sales_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'avg_purchases_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'avg_sales_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'avg_purchases_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'numerical_1_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'active_months_lag6_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'active_months_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],
    #'active_months_lag12_merchants_t': ['sum', 'mean', 'min', 'max', 'var', 'skew'],

    #DATE TIME 
    'weekend': ['nunique', 'mean', 'min', 'max'],
    'weekday' : ['nunique', 'mean', 'min', 'max'],
    'hour': ['nunique', 'mean', 'min', 'max'],
    'weekofyear': ['nunique', 'mean', 'min', 'max'],
    'day': ['nunique', 'mean', 'min', 'max'],
    #Refer:-https://numpy.org/doc/stable/reference/generated/numpy.ptp.html
    'purchase_date' : [np.ptp, 'min', 'max'],
    'month' : ['sum', 'mean', 'nunique']

    }

    df = df.groupby("card_id",as_index=False).agg(agg_fun)
    print(df.card_id)

    # reduce memory usage
    df = reduce_mem_usage(df)

    return df

## Generating the aurgumentated dataset

In [ ]:
def imputations_merAndtrans(debug=False):

    """ 
    FUNCTION:
      Do model based imputation 
      STEPS:-
      1. Load and Impute Historical Transactions
      2. Load and Impute New Merchants Transactions
      3. Load and Impute  Merchants   

    ARGS:
     Debug:- Takes care of numer of rows as we need faster manipulation of data in dubigging 

    RETURNS:
      Generates the new_merchant_df, historical_transactions_df, merchant_df 

    """

    num_rows = 10000 if debug else None
    with timer("load and impute transactions ...."):
        # load AND IMPUTE 
        print("[INFO] LOADING AND IMPUTING HISTORICAL TRANSACTIONS ....")
        historical_transactions_df = transactions_imputations(df_name='hist',nrows = num_rows)
        print("[INFO] LOADING AND IMPUTING HISTORICAL TRANSACTIONS ....")
        new_merchant_df = transactions_imputations(df_name='mer',nrows = num_rows)

        #unique values of column of card id 
        print("[INFO] THE UNIQUE VALUES OF CARD ID ...")
        print("FOR NEW MERCHANT ",new_merchant_df.card_id.nunique())
        print("FOR HISTORICAL TRANSACTIONS ",historical_transactions_df.card_id.nunique())
        print("[INFO] Check for Nan")
        print(historical_transactions_df.isna().sum())
        print(historical_transactions_df.isna().sum())

    with timer("load and impute merchants ...."):
        #load csv 
        print("[INFO] LOADING MERCHANTS AND IMPUTATIONS  ....")
        merchant_df = merchant_imputations(num_rows=num_rows)

        print("[INFO] Check for Nan ...")
        print(merchant_df.isna().sum())    

        return new_merchant_df, historical_transactions_df, merchant_df

In [ ]:
def basicFeAndGrouping(new_merchant_df, historical_transactions_df, merchant_df):

    """ 
    FUNCTION:
      Perform merging of data, grouping and basic feature engineering 
      STEPS:-
      1. 
      2. 
      3.    

    ARGS:
     Debug:- Takes care of numer of rows as we need faster manipulation of data in dubigging 

    RETURNS:
      Generates the aurgumented train and test 

    """

    with timer("Merging Data frames ...."):
        #Merge the data frames 
        print("[INFO] MERGING THE DATA FRAMES ...")
        historical_transactions_df = pd.merge(historical_transactions_df, merchant_df, on='merchant_id', how = 'left')
        new_merchant_df = pd.merge(new_merchant_df, merchant_df, on='merchant_id',how = 'left')

        #DEL merchant_df
        del merchant_df

        print("[INFO] THE UNIQUE VALUES OF CARD ID ...")
        #unique values of column of card id 
        print("FOR NEW MERCHANT ",new_merchant_df.card_id.nunique())
        print("FOR HISTORICAL TRANSACTIONS ",historical_transactions_df.card_id.nunique())
    with timer("group on card id ..."):
        #Group on card id
        print("[INFO] GROUPING ON CARD ID ...")
        new_merchant_df = group_on_card_id_withMer1(new_merchant_df)
        historical_transactions_df = group_on_card_id_withMer1(historical_transactions_df)


        print("[INFO] THE UNIQUE VALUES OF CARD ID ...")
        #unique values of column of card id 
        print("FOR NEW MERCHANT ",new_merchant_df.card_id.nunique())
        print("FOR HISTORICAL TRANSACTIONS ",historical_transactions_df.card_id.nunique())
    with timer("Changing column names ...."):
        print("[INFO] Changing column names ....")
        historical_transactions_df.columns = ["_".join(col) for col in historical_transactions_df.columns.ravel()]
        historical_transactions_df.rename(columns={'card_id_':'card_id'},inplace=True)
        new_merchant_df.columns = ["_".join(col) for col in new_merchant_df.columns.ravel()]
        new_merchant_df.rename(columns={'card_id_':'card_id'},inplace=True)
    with timer("Train test"):
        df = train_test(None)
        print(df)

    with timer("merge hist and new merchant with  df  "):
        print("[INFO] MERGING ....")
        df = pd.merge(df, historical_transactions_df, on='card_id', how='outer')
        print(df)
        df = pd.merge(df, new_merchant_df, on='card_id', how='outer')
        print(df)
        

    with timer("split train & test"):
        print("[INFO] Split train and test ...")
        train_df = df[df['target'].notnull()]
        test_df = df[df['target'].isnull()]

        del test_df['target']
        del df
        gc.collect()

    with timer("Save train and test files"):
        print("[INFO] SAVING ....")
        train_df.to_csv('augmented_train_try1.csv', index=False)
        test_df.to_csv('augmented_test_try1.csv', index=False)
        return train_df,test_df

In [ ]:
def basicFeAndGroupingwithoutMer(new_merchant_df, historical_transactions_df):

    """ 
    FUNCTION:
      Perform merging of data, grouping and basic feature engineering 
      STEPS:-
      1. 
      2. 
      3.    

    ARGS:
     Debug:- Takes care of numer of rows as we need faster manipulation of data in dubigging 

    RETURNS:
      Generates the aurgumented train and test 

    """
    with timer("group on card id ..."):
        #Group on card id
        print("[INFO] GROUPING ON CARD ID ...")
        new_merchant_df = group_on_card_id_withOUTMer1(new_merchant_df)
        historical_transactions_df = group_on_card_id_withOUTMer1(historical_transactions_df)


        print("[INFO] THE UNIQUE VALUES OF CARD ID ...")
        #unique values of column of card id 
        print("FOR NEW MERCHANT ",new_merchant_df.card_id.nunique())
        print("FOR HISTORICAL TRANSACTIONS ",historical_transactions_df.card_id.nunique())

    with timer("Changing column names ...."):
        print("[INFO] Changing column names ....")
        historical_transactions_df.columns = ["_".join(col) for col in historical_transactions_df.columns.ravel()]
        historical_transactions_df.rename(columns={'card_id_':'card_id'},inplace=True)
        new_merchant_df.columns = ["_".join(col) for col in new_merchant_df.columns.ravel()]
        new_merchant_df.rename(columns={'card_id_':'card_id'},inplace=True)

    with timer("Train test"):
        df = train_test(None)
        print(df)

    with timer("merge hist and new merchant with  df  "):
        print("[INFO] MERGING ....")
        df = pd.merge(df, historical_transactions_df, on='card_id', how='outer')
        print(df)
        df = pd.merge(df, new_merchant_df, on='card_id', how='outer')
        print(df)
        

    with timer("split train & test"):
        print("[INFO] Split train and test ...")
        train_df = df[df['target'].notnull()]
        test_df = df[df['target'].isnull()]

        del test_df['target']
        del df
        gc.collect()

    with timer("Save train and test files"):
        print("[INFO] SAVING ....")
        train_df.to_csv('augmented_train_try1_withoutMer.csv', index=False)
        test_df.to_csv('augmented_test_try1_withoutMer.csv', index=False)
        return train_df,test_df

## Main Method

In [ ]:
if __name__ == "__main__":
  new_merchant_df,historical_transactions_df,merchant_df = imputations_merAndtrans(debug=False)
  train_df,test_df = basicFeAndGrouping(new_merchant_df, historical_transactions_df, merchant_df)

[INFO] LOADING AND IMPUTING HISTORICAL TRANSACTIONS ....
Mem. usage decreased to 1138.31 Mb (65.8% reduction)
[INFO] LOADING AND IMPUTING HISTORICAL TRANSACTIONS ....
Mem. usage decreased to 76.76 Mb (65.8% reduction)
[INFO] THE UNIQUE VALUES OF CARD ID ...
FOR NEW MERCHANT  290001
FOR HISTORICAL TRANSACTIONS  325540
[INFO] Check for Nan
authorized_flag         0
card_id                 0
city_id                 0
category_1              0
installments            0
category_3              0
merchant_category_id    0
merchant_id             0
month_lag               0
purchase_amount         0
purchase_date           0
category_2              0
state_id                0
subsector_id            0
price                   0
dtype: int64
authorized_flag         0
card_id                 0
city_id                 0
category_1              0
installments            0
category_3              0
merchant_category_id    0
merchant_id             0
month_lag               0
purchase_amount         0
purchase_date           0
category_2              0
state_id                0
subsector_id            0
price                   0
dtype: int64
load and impute transactions .... - done in 110s
[INFO] LOADING MERCHANTS AND IMPUTATIONS  ....
Mem. usage decreased to 15.32 Mb (72.7% reduction)
[INFO] Check for Nan ...
merchant_id                                0
merchant_group_id_merchants_t              0
merchant_category_id_merchants_t           0
subsector_id_merchants_t                   0
numerical_1_merchants_t                    0
numerical_2_merchants_t                    0
category_1_merchants_t                     0
most_recent_sales_range_merchants_t        0
most_recent_purchases_range_merchants_t    0
avg_sales_lag3_merchants_t                 0
avg_purchases_lag3_merchants_t             0
active_months_lag3_merchants_t             0
avg_sales_lag6_merchants_t                 0
avg_purchases_lag6_merchants_t             0
active_months_lag6_merchants_t             0
avg_sales_lag12_merchants_t                0
avg_purchases_lag12_merchants_t            0
active_months_lag12_merchants_t            0
category_4_merchants_t                     0
city_id_merchants_t                        0
state_id_merchants_t                       0
category_2_merchants_t                     0
dtype: int64
load and impute merchants .... - done in 2s
[INFO] MERGING THE DATA FRAMES ...
[INFO] THE UNIQUE VALUES OF CARD ID ...
FOR NEW MERCHANT  290001
FOR HISTORICAL TRANSACTIONS  325540
Merging Data frames .... - done in 28s
[INFO] GROUPING ON CARD ID ...
0         C_ID_00007093c1
1         C_ID_0001238066
2         C_ID_0001506ef0
3         C_ID_0001793786
4         C_ID_000183fdda
               ...
289996    C_ID_ffff1d9928
289997    C_ID_ffff579d3a
289998    C_ID_ffff756266
289999    C_ID_ffff828181
290000    C_ID_fffffd5772
Name: card_id, Length: 290001, dtype: object
Mem. usage decreased to 105.37 Mb (51.5% reduction)
0         C_ID_00007093c1
1         C_ID_0001238066
2         C_ID_0001506ef0
3         C_ID_0001793786
4         C_ID_000183fdda
               ...
325535    C_ID_ffff1d9928
325536    C_ID_ffff579d3a
325537    C_ID_ffff756266
325538    C_ID_ffff828181
325539    C_ID_fffffd5772
Name: card_id, Length: 325540, dtype: object
Mem. usage decreased to 125.74 Mb (51.0% reduction)
[INFO] THE UNIQUE VALUES OF CARD ID ...
FOR NEW MERCHANT  290001
FOR HISTORICAL TRANSACTIONS  325540
group on card id ... - done in 3793s
[INFO] Changing column names ....
Changing column names .... - done in 0s
Train samples: 201917, test samples: 123623
                first_active_month  feature_1  ...  feature_min  feature_std
card_id                                        ...
C_ID_92a2005557         2017-06-01        1.0  ...          1.0          0.0
C_ID_3d0044924f         2017-01-01        1.0  ...          1.0          0.0
C_ID_d639edf6cd         2016-08-01        1.0  ...          1.0          0.0
C_ID_186d6a6901         2017-09-01        1.0  ...          1.0          0.0
C_ID_cdbd2c0db2         2017-11-01        1.0  ...          1.0          0.0
...                            ...        ...  ...          ...          ...
C_ID_7a239d2eda         2017-10-01        1.0  ...          1.0          0.0
C_ID_75ace375ae         2017-09-01        1.0  ...          1.0          0.0
C_ID_21d56d950c         2016-09-01        1.0  ...          1.0          0.0
C_ID_6c46fc5a9d         2017-06-01        1.0  ...          1.0          0.0
C_ID_87e7979a5f         2016-10-01        1.0  ...          1.0          0.0

[325540 rows x 15 columns]
Train test - done in 1s
[INFO] MERGING ....
                card_id first_active_month  ...  month_mean  month_nunique
0       C_ID_92a2005557         2017-06-01  ...    7.941406              9
1       C_ID_3d0044924f         2017-01-01  ...    6.242188             12
2       C_ID_d639edf6cd         2016-08-01  ...    4.500000             10
3       C_ID_186d6a6901         2017-09-01  ...    7.640625              6
4       C_ID_cdbd2c0db2         2017-11-01  ...    5.355469              4
...                 ...                ...  ...         ...            ...
325535  C_ID_7a239d2eda         2017-10-01  ...    7.113281              5
325536  C_ID_75ace375ae         2017-09-01  ...   10.109375              5
325537  C_ID_21d56d950c         2016-09-01  ...    7.566406              7
325538  C_ID_6c46fc5a9d         2017-06-01  ...    7.816406              5
325539  C_ID_87e7979a5f         2016-10-01  ...    6.402344             12

[325540 rows x 173 columns]
                card_id first_active_month  ...  month_mean_y  month_nunique_y
0       C_ID_92a2005557         2017-06-01  ...      3.478516              2.0
1       C_ID_3d0044924f         2017-01-01  ...      2.500000              2.0
2       C_ID_d639edf6cd         2016-08-01  ...      4.000000              1.0
3       C_ID_186d6a6901         2017-09-01  ...      3.714844              2.0
4       C_ID_cdbd2c0db2         2017-11-01  ...      3.554688              2.0
...                 ...                ...  ...           ...              ...
325535  C_ID_7a239d2eda         2017-10-01  ...           NaN              NaN
325536  C_ID_75ace375ae         2017-09-01  ...      3.250000              2.0
325537  C_ID_21d56d950c         2016-09-01  ...           NaN              NaN
325538  C_ID_6c46fc5a9d         2017-06-01  ...     11.000000              1.0
325539  C_ID_87e7979a5f         2016-10-01  ...      3.000000              1.0

[325540 rows x 330 columns]
merge hist and new merchant with  df   - done in 16s
[INFO] Split train and test ...
split train & test - done in 1s
[INFO] SAVING ....
Save train and test files - done in 118s

In [ ]:
new_merchant_df

         authorized_flag          card_id  ...  subsector_id       price
0                      1  C_ID_415bb3a509  ...            19   -0.557129
1                      1  C_ID_415bb3a509  ...            19   -0.568848
2                      1  C_ID_415bb3a509  ...            14   -0.550293
3                      1  C_ID_415bb3a509  ...             8   -0.671387
4                      1  C_ID_ef55cf8d4b  ...            29   -0.659180
...                  ...              ...  ...           ...         ...
1963026                1  C_ID_1320dee851  ...            21 -702.000000
1963027                1  C_ID_f112aa3381  ...            34 -694.500000
1963028                1  C_ID_bd97b86450  ...            37   -0.620605
1963029                1  C_ID_c0513fd84f  ...            16 -656.500000
1963030                1  C_ID_a935410f8e  ...            37 -739.500000

[1963031 rows x 15 columns]

In [ ]:
historical_transactions_df

          authorized_flag          card_id  ...  subsector_id       price
0                       1  C_ID_4e6213e9bc  ...            37 -703.500000
1                       1  C_ID_4e6213e9bc  ...            16 -733.000000
2                       1  C_ID_4e6213e9bc  ...            37 -720.500000
3                       1  C_ID_4e6213e9bc  ...            34 -735.500000
4                       1  C_ID_4e6213e9bc  ...            37 -723.000000
...                   ...              ...  ...           ...         ...
29112356                1  C_ID_2863d2fa95  ...            34   -0.631836
29112357                1  C_ID_2863d2fa95  ...            34   -0.631836
29112358                1  C_ID_5c240d6e3c  ...            37 -657.500000
29112359                1  C_ID_5c240d6e3c  ...             9  770.500000
29112360                1  C_ID_5c240d6e3c  ...             9  800.000000

[29112361 rows x 15 columns]

In [ ]:
merchant_df

            merchant_id  ...  category_2_merchants_t
0       M_ID_838061e48c  ...                       1
1       M_ID_9339d880ad  ...                       1
2       M_ID_e726bbae1e  ...                       5
3       M_ID_a70e9c5f81  ...                       6
4       M_ID_64456c37ce  ...                       6
...                 ...  ...                     ...
334691  M_ID_1f4773aa76  ...                       1
334692  M_ID_725a60d404  ...                       6
334693  M_ID_f2045dd267  ...                       5
334694  M_ID_9139332ccc  ...                       6
334695  M_ID_cd2c0b07e9  ...                       1

[334696 rows x 22 columns]

In [ ]:
!ls

 augmented_test.csv
 augmented_test_try1.csv
 augmented_test_try1_model_imputation.csv
 augmented_train.csv
 augmented_train_try1.csv
 augmented_train_try1_model_imputation.csv
 clf_cat2.sav
 clf_cat3.sav
 clf_name.sav
'Data Dictionary.xlsx'
 Data_Dictionary.xlsx
 file_name.csv
 hist_authorized_flag_enc.npy
 hist_category_1_enc.npy
 hist_category_3_enc.npy
 historical_transactions.csv
 historical_transactions_df.pkl
 knn_sal_12.sav
 knn_sal_3.sav
 knn_sal_6.sav
 LR_cat_2.sav
 mer_authorized_flag_enc.npy
 mer_category_1_enc.npy
 mer_category_3_enc.npy
 merchant_category_1_enc.npy
 merchant_category_4_enc.npy
 merchant_most_recent_purchases_range_enc.npy
 merchant_most_recent_sales_range_enc.npy
 merchants.csv
 merged_transactions_with_merchants.csv
 new_merchant_authorized_flag_enc.npy
 new_merchant_category_1_enc.npy
 new_merchant_df.pkl
 new_merchant_transactions.csv
 sample_submission.csv
 test.csv
 train.csv
 transactions_raw_merged.csv
 transactions_refined_1_merged_WON.csv

## Load the dataset

In [ ]:
train_df

                card_id first_active_month  ...  month_mean_y  month_nunique_y
0       C_ID_92a2005557         2017-06-01  ...      3.478516              2.0
1       C_ID_3d0044924f         2017-01-01  ...      2.500000              2.0
2       C_ID_d639edf6cd         2016-08-01  ...      4.000000              1.0
3       C_ID_186d6a6901         2017-09-01  ...      3.714844              2.0
4       C_ID_cdbd2c0db2         2017-11-01  ...      3.554688              2.0
...                 ...                ...  ...           ...              ...
201912  C_ID_963962de2c         2017-09-01  ...      3.000000              1.0
201913  C_ID_1314773c0b         2015-10-01  ...      3.000000              1.0
201914  C_ID_7666735b3d         2017-08-01  ...      3.000000              1.0
201915  C_ID_73f5a0efd0         2016-07-01  ...     11.601562              2.0
201916  C_ID_92c9984c58         2017-07-01  ...      3.500000              2.0

[201917 rows x 330 columns]

In [ ]:
test_df

                card_id first_active_month  ...  month_mean_y  month_nunique_y
201917  C_ID_0ab67a22ab         2017-04-01  ...      2.000000              1.0
201918  C_ID_130fd0cbdd         2017-01-01  ...      3.400391              2.0
201919  C_ID_b709037bc5         2017-08-01  ...      3.000000              1.0
201920  C_ID_d27d835a9f         2017-12-01  ...      3.300781              2.0
201921  C_ID_2b5e3df5c2         2015-12-01  ...      3.166016              2.0
...                 ...                ...  ...           ...              ...
325535  C_ID_7a239d2eda         2017-10-01  ...           NaN              NaN
325536  C_ID_75ace375ae         2017-09-01  ...      3.250000              2.0
325537  C_ID_21d56d950c         2016-09-01  ...           NaN              NaN
325538  C_ID_6c46fc5a9d         2017-06-01  ...     11.000000              1.0
325539  C_ID_87e7979a5f         2016-10-01  ...      3.000000              1.0

[123623 rows x 329 columns]

## Start Exploring

In [ ]:
train_df.isnull().sum(axis = 0)

card_id                    0
first_active_month         0
feature_1                  0
feature_2                  0
feature_3                  0
                       ...
purchase_date_min_y    21931
purchase_date_max_y    21931
month_sum_y            21931
month_mean_y           21931
month_nunique_y        21931
Length: 330, dtype: int64

### Checking for percentage of null values

In [ ]:
#Gives the name of all the variables with missing data 

columns_with_na = [var for var in train_df.columns if train_df[var].isnull().mean()  > 0]

In [ ]:
len(columns_with_na)

168

In [ ]:
#lets find out the percentage of observations missing per variable

#calculate the percentage of missing 
data_na = train_df[columns_with_na].isnull().mean()

#transform the array to dataframe 
data_na = pd.DataFrame(data_na.reset_index())

#add names to the dataframe 
data_na.columns = ['col','percentage_na']

#oreder the dataframe acc to percentage 
data_na.sort_values(by = 'percentage_na',ascending = False, inplace = True)

#show
data_na

                                        col  percentage_na
123  avg_purchases_lag12_merchants_t_skew_y       0.385956
111   avg_purchases_lag6_merchants_t_skew_y       0.385223
129          numerical_1_merchants_t_skew_y       0.349005
81           numerical_2_merchants_t_skew_y       0.348802
93    avg_purchases_lag3_merchants_t_skew_y       0.345627
..                                      ...            ...
10   active_months_lag12_merchants_t_skew_x       0.000168
9     active_months_lag6_merchants_t_skew_x       0.000168
6        avg_sales_lag12_merchants_t_skew_x       0.000168
4         avg_sales_lag6_merchants_t_skew_x       0.000168
3     active_months_lag3_merchants_t_skew_x       0.000168

[168 rows x 2 columns]

In [ ]:
na = data_na[data_na.percentage_na>0.1].col

In [ ]:
print(len(na))

159